.bs-btn {
  @extend .btn;
}

.bs-btn-primary {
  @extend .btn-primary;
}

.button {
  @extend .btn;
  letter-spacing: $c-letter-spacing;

  &--primary {
    @extend .btn-primary;
  }

  &--secondary {
    @extend .btn-info;
  }

  &--ghost {
    @extend .btn-outline-primary;
  }

  &--link {
    @extend .btn-link;
  }

  &--transparent {
    @extend .btn-link;
    @extend .p-0;
    @extend .d-flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &--danger {
    @extend .btn-danger;
  }

  &--sm {
    @extend .btn-sm;
  }

  &--lg {
    @extend .btn-lg;
  }
}
