#chart1,
#chart2 {
  width: 40%;
  height: 260px;
}

#chart3,
#chart4 {
  width: 100%;
  height: 300px;
}



.power-mix {
  @extend .position-relative;
  @extend .d-flex;
  @extend .flex-row;
  @extend .py-2;
  @extend .px-3;

  &__chart {
    @extend .d-flex;
    @extend .flex-column;
    @extend .w-100;
  }

  &__icons {
    @extend .d-flex;
    @extend .flex-row;
    @extend .w-100;

    & > div {
      @extend .mb-1;
      @extend .text-center;
      height:1rem;
    }
  }

  &__colors {
    @extend .d-flex;
    @extend .flex-row;
  }
}