.sources-modal,
.privacy-modal {
  z-index: 1210;

  &__dialog {
    @extend .modal-xl;
  }

  &__content {
    @extend .modal-content;
  }

  &__header {
    @extend .modal-header;
    @extend .px-5;
  }

  &__title {
    @extend .modal-title;
  }

  &__body {
    @extend .modal-body;
    @extend .px-5;
    @extend .py-4;
  }
}

.onboarding-modal {
  .modal-body {
    @extend .p-0;
    height: 75vh;
    overflow: hidden;
  }

  .carousel {
    @extend .h-100;
  }

  .carousel-inner {
    @extend .h-100;
  }

  .carousel-item {
    @extend .h-100;
    @extend .p-2;

    .row {
      @extend .h-100;
    }

    &__content {
      @extend .col-8;
      @extend .bg-white;
      @extend .ps-5;
      @extend .pe-4;
    }
  }

  .carousel-item.carousel-item--first {
    @extend .p-0;

    .carousel-item__content {
      @extend .h-100;
      @extend .p-0;
      @extend .d-flex;
      @extend .flex-column;
      @extend .w-100;
    }

    .carousel__text {
      @extend .flex-grow-1;
      @extend .bg-light;
    }

    .carousel__logos {
      @extend .row;
      @extend .px-2;
      max-height: 20rem;

      @include media-breakpoint-up(xl) {
        max-height: 11rem;
      }
    }

    .carousel__logo {
      @extend .col-4;
      @extend .col-xl-2;
      @extend .d-flex;
      @extend .align-items-center;
      @extend .justify-content-center;

      &--rli img {
        height: 4rem;
      }

      &--eaa img {
        height: 5rem;
      }

      &--gestalten img {
        height: 5rem;
      }

      &--bbsr img {
        height: 9rem;
      }

      &--bmwsb img {
        height: 9rem;
      }

      &--bmi img {
        height: 9rem;
      }
    }
  }

  img {
    height: 100%;
    object-fit: cover;
  }

  .carousel-control-next,
  .carousel-control-prev {
    @extend .position-relative;
    opacity: 1 !important;
    background-color: $gray-700 !important;

    &.transparent {
      @extend .bg-white;
      @extend .text-white;
      pointer-events: none;
    }
  }

  .carousel-control-prev {
    background-color: $gray-200 !important;
    color: $gray-800 !important;
  }

  .btn, .modal-footer button {
    opacity: 1 !important;
  }
}
