.c-tabs {
  @extend .nav;
  @extend .nav-tabs;
  @extend .nav-fill;
  @extend .border-0;

  &__nav-item {
    @extend .nav-item;
    @extend .border-0;
    @extend .border-bottom;
    @extend .border-1;
    @extend .bg-light;
    @extend .fs-7;
    margin-left: 1px;
    margin-right: 1px;
  }

  &__nav-link {
    @extend .nav-link;
    @extend .text-primary;
    @extend .border-0;
    @extend .rounded-0;
    @extend .px-1;

    &:hover {
      @extend .text-info;
    }

    &.active {
      @extend .active;
      @extend .text-white;
      @extend .border-0;
      @extend .bg-info;
    }
  }

  &__content {
    @extend .tab-content;
  }

  &__pane {
    @extend .tab-pane;
    @extend .fade;

    &.show {
      @extend .show;
    }

    &.active {
      @extend .active;
    }
  }
}

.view-toggle {
  @extend .position-absolute;
  @extend .fs-7;
  @extend .rounded;
  background-color: #EDF1FC;
  top: 9px;
  right: $padding-large;

  &__nav-tabs {
    @extend .nav;
    @extend .nav-tabs;
    @extend .border-0;
  }

  &__nav-item {
    @extend .nav-item;

    &:first-of-type button {
      @extend .rounded-0;
      @extend .rounded-start;
    }

    &:last-of-type button {
      @extend .rounded-0;
      @extend .rounded-end;
    }

    .view-toggle__nav-link {
      border: 1px solid #C3D1DC !important;
    }

    &:last-of-type .view-toggle__nav-link {
      @extend .border-start-0;
    }
  }

  &__nav-link {
    @extend .nav-link;
    @extend .text-info;
    @extend .fw-normal;
    @extend .py-0;
    padding: 0.25rem 0.75rem !important;

    width: 6.5rem;
    height: 2rem;

    @include media-breakpoint-down(xl) {
      width: auto;
    }

    &:hover {
      @extend .text-info;
    }

    &.active {
      @extend .active;
      @extend .border-1;
      @extend .bg-white;
      @extend .fw-semibold;
    }

    svg {
      @include translateY(-2px);
      margin-right: 0.5rem;

      @include media-breakpoint-down(xl) {
        margin-right: 0;
      }
    }
  }

  &__text {
    @include media-breakpoint-down(xl) {
      display: none;
      visibility: hidden;
    }
  }
}
