.top-nav {
  height: $top-nav-height;
  box-shadow: $box-shadow-sm;
  z-index: 1000;

  &__brand {
    img {
      height: calc(#{$top-nav-height} - 1.5rem);
    }
  }

  &__lang {

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.steps {
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .px-2;
  height: $steps-height;

  &__list {
    @extend .list-group;
    @extend .list-group-item-action;
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-around;
    @extend .align-items-center;
    @extend .border-0;
    max-width: 42rem;

    &:hover {
      @extend .bg-white;
    }
  }

  &__item--separator {
    @extend .mx-2;
    flex: 1;
    height: 1px;
    background-color: $gray-300;
  }

  &__number {
    @extend .d-inline-block;
    @extend .text-white;
    @extend .fw-bold;
    @extend .rounded-circle;
    @extend .me-1;
    @extend .fs-7;
    background-color: $gray-300 !important;
    width: $steps-numbers-size;
    height: $steps-numbers-size;
    padding: 0.125rem 0.125rem 0.125rem 0.5rem;
  }

  &__text {
    @extend .fs-7;
    @extend .d-none;
    @extend .d-sm-inline;
    @extend .d-md-none;
    @extend .d-lg-inline;
    color: $gray-300 !important;
    letter-spacing: $letter-spacing-small;
  }

  &__item.active .steps__number {
    @extend .bg-primary;
  }

  &__item.active .steps__text {
    @extend .text-primary;
  }
}
