.top-nav {
  height: $top-nav-height;
  border-bottom: 1px solid $border-color;
  z-index: 1000;

  .container-fluid {
    @extend .bg-white;
  }

  &__brand {
    img {
      height: calc(#{$top-nav-height} - 1rem);

      @include media-breakpoint-down(md) {
        height: 2.5rem;
      }
    }
  }

  &__lang {

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .navbar-collapse {
    @include media-breakpoint-down(lg) {
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid $gray-200;
    }
  }
}

.steps {
  @extend .d-flex;
  @extend .flex-row;
  @extend .align-items-center;
  @extend .px-2;
  justify-content: center;
  height: $steps-height;

  @include media-breakpoint-down(xxl) {
    justify-content: flex-start;
  }

  &__list {
    @extend .list-group;
    @extend .list-group-item-action;
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-around;
    @extend .align-items-center;
    @extend .border-0;
    @extend .px-2;
    max-width: 24rem;

    &:hover {
      @extend .bg-white;
    }

    @include media-breakpoint-down(lg) {
      width: 3rem;
    }
  }

  &__item--separator {
    @extend .mx-2;
    flex: 1;
    height: 1px;
    background-color: $gray-300;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__text {
    @extend .fs-7;
    @extend .fw-semibold;
    @extend .d-none;
    @extend .d-lg-inline;
    color: $gray-300 !important;
    letter-spacing: $letter-spacing-normal;
  }

  &__item.active .steps__number {
    @extend .bg-primary;
  }

  &__item.active .steps__text {
    @extend .text-primary;
  }
}
