.top-nav {
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-between;
  @extend .align-items-center;
  @extend .pt-0;
  @extend .pe-2;
  @extend .pb-0;
  @extend .ps-1;
  @extend .shadow-sm;
  height: $top-nav-height;

  &__tool-name {
    h1 {
      @extend .fs-4;
      @extend .fw-bold;
      @extend .mb-0;
      @extend .ps-4;
    }

    img {
      height: 1.5rem;
      @extend .ps-1;
    }
  }

  &__links {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    ul {
      @include ul-horizontal;
    }

    li {
      display: inline-block;

      a {
        @extend .link-primary;
      }
    }

    li:not(:last-of-type) {
      padding-right: 1.5rem;
    }

    .logo img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__lang {
    @extend .form-select;
    @extend .form-select-sm;
  }
}

.steps {
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-center;
  @extend .align-items-center;
  height: $steps-height;

  &__list {
    @extend .list-group;
    @extend .list-group-item-action;
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-around;
    @extend .align-items-center;
    @extend .border-0;
    max-width: 42rem;

    &:hover {
      @extend .bg-white;
    }
  }

  .nav-item--separator {
    flex: 1;
    height: 1px;
    background-color: $gray-300;
  }

  &__item {
    @extend .list-group-item;
    @extend .list-group-item-action;
    @extend .text-primary;
    @extend .border-0;
    @extend .bg-white;
    @extend .text-center;
    @extend .fw-bold;

    &.active {
      @extend .text-info;
    }

    &.disabled {
      @extend .text-muted;
    }
  }

  &__number {
    @extend .d-inline-block;
    @extend .bg-primary;
    @extend .text-white;
    @extend .fw-bold;
    @extend .rounded-circle;
    @extend .me-1;
    width: $steps-numbers-size;
    height: $steps-numbers-size;
    padding: 0.25rem;
  }

  &__item.active .steps__number {
    @extend .bg-info;
  }

  &__item.disabled .steps__number {
    background-color: $c-color-gray !important;
  }
}
