// Padding
$padding-large: 1.5rem;
$padding-normal: 1rem;
$padding-small: 0.5rem;

// Buttons
$button-border-radius: 8px;

// COLORS
$c-color-gray: #CAD3DB;
$c-color-yellow: rgb(250, 174, 29);
$gray-3: rgb(98, 98, 98);

// TYPOGRAPHY
$font-size-xlarge: 1.953rem; // 31.25px
$font-size-large: 1.563rem; // 25px
$font-size-medium: 1.25rem; // 20px
$font-size-normal: 1rem; // 16px
$font-size-small: .875rem; // 14px

$letter-spacing-small: 0.01rem;
$letter-spacing-normal: 0.03rem;

// LEFT PANEL
$panel-width: 26rem;
$panel-side-padding: 1.5rem;

// Media-breaks
$small-screen: 640px;
$medium-screen: 992px;
$large-screen: 1250px;
$xlarge-screen: 1500px;

// TOP-NAV
$top-nav-height: 3.5rem;

// STEPS
$steps-height: 2.75rem;
$steps-numbers-size: 1.5rem;

// MAP
$map-height: calc(100vh - #{$top-nav-height} - #{$steps-height});
$map-layers-btn-size: 3rem;
$map-items-padding: 1rem;
$map-layers-box-legend-color-size: 0.875rem;
$map-layers-box-height: 60vh;
$map-layers-box-width: 23rem;
$map-layers-box-z-index: 200;
$map-legend-box-padding-bottom: 2rem;

// Map controls
$map-control-position: absolute;
$map-control-img-size: 3rem;
$map-control-text-height: 1rem;
$map-control-total-height: calc((#{$padding-small} * 2) + #{$map-control-img-size} + #{$map-control-text-height});
$map-control-position-top: 5rem;
$map-control-position-right: 1rem;
$map-control-position-left: 1rem;
$map-control-z-index: 9;
$map-control-bg-color: rgba(255, 255, 255, 1);

// ICONS
$info-icon-size: 1.25rem;
