{% load static %}

<div class="{{widget.attrs.filter_class}}">
  <div class="{{widget.attrs.header_class}}">
    {% if widget.attrs.icon %}
      <svg class="icon">
          <use xlink:href="{% static 'images/icons/sprite.svg' %}#{{widget.attrs.icon}}"></use>
      </svg>
    {% endif %}
    <div class="filter--info">
      {{widget.attrs.label}}
      {% if widget.attrs.tooltip %}
          {% include 'widgets/info_button.html' with description=widget.attrs.tooltip %}
      {% endif %}
    </div>
  </div>
  <div class="{% if widget.attrs.switch_class %}{{widget.attrs.switch_class}}{% else %}switch tiny{% endif %}">
    <input class="{% if widget.attrs.switch_input_class %}{{widget.attrs.switch_input_class}}{% else %}switch-input{% endif %}" {% if widget.attrs.id %}id="{{widget.attrs.id}}"{% endif %} type="checkbox" name="{{widget.name}}">
    <label class="switch-paddle" {% if widget.attrs.id %}for="{{widget.attrs.id}}" id="{{widget.attrs.id}}-label"{% endif %}>
      {% if widget.attrs.label %}<span class="show-for-sr">{{widget.attrs.label}}</span>{% endif %}
    </label>
  </div>
</div>
