{% load static i18n %}

<form class="layers__item static-layer {% if form.layer.clustered %}cluster-layer{% endif %}">
  <div class="map-layer">

    <div class="map-layer__legend">
      <div class="map-layer__legend-color" style="background-color: {{ form.layer.get_color }}"></div>
      <div class="map-layer__legend-text">
        <label class="form-check-label" for="{{ form.layer.layer.id }}">{{ form.layer.name }}</label>
      </div>
    </div>

    <div class="map-layer__control">
      <div class="map-layer__control-i">
        {% include 'widgets/info_button.html' with description=form.layer.description %}
      </div>
      <div class="map-layer__control-toggle c-switch">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="{{ form.layer.layer.id }}">
        </div>
      </div>
    </div>

  </div>
</form>
