{% load i18n %}
<h2 class="panel__title title">{% trans "Generation" %}</h2>
{% include "widgets/slider.html" with field=form.w_d_wp_1 %}
<div class="sidepanel">
  <p class="sidepanel__heading">
    {%  trans "Detail settings" %}
    {% include "widgets/sidepanel_close_btn.html" %}
    <p>{%  trans "Set the share of heat pumps for consumers with their own heat generation per sector." %}</p>
    {% include "widgets/slider.html" with field=form.w_d_wp_3 %}
    {% include "widgets/slider.html" with field=form.w_d_wp_4 %}
    {% include "widgets/slider.html" with field=form.w_d_wp_5 %}
    <p>{%  trans "With your settings, the proportion of energy provided by heat pumps is 87%. The remaining energy is provided by:<br>- Direct electric heating: 10%<br>- Bioenergy: 5%<br>- Solar thermal: 20%<br> <br>Note: District heating systems are configured separately in the menu on the left." %}</p>
  </p>
</div>

{% include "widgets/slider.html" with field=form.w_z_wp_1 %}

<span class="panel__separator" aria-hidden="true"></span>

<h2 class="panel__title title">{% trans "Consumption" %}</h2>

{% include "widgets/slider.html" with field=form.w_v_1 %}
<div class="sidepanel">
  <p class="sidepanel__heading">
    {%  trans "Detail settings" %}
    {% include "widgets/sidepanel_close_btn.html" %}
    <p>{%  trans "Set the future heat consumption per sector." %}</p>
    {% include "widgets/slider.html" with field=form.w_v_3 %}
    {% include "widgets/slider.html" with field=form.w_v_4 %}
    {% include "widgets/slider.html" with field=form.w_v_5 %}
    <p>{%  trans "With your settings, the heat consumption is 27% of today's heat consumption." %}</p>
  </p>
</div>

<span class="panel__separator" aria-hidden="true"></span>

<h2 class="panel__title title">{% trans "Storage" %}</h2>

{% include "widgets/slider.html" with field=form.w_d_s_1 %}

{% include "widgets/slider.html" with field=form.w_z_s_1 %}
<div class="sidepanel">
  <p class="sidepanel__heading">
    {%  trans "Detail settings" %}
    {% include "widgets/sidepanel_close_btn.html" %}
    <p>{%  trans "Set how much of the daily heat requirement should be able to be temporarily stored in hot water tanks." %}</p>
    {% include "widgets/slider.html" with field=form.w_z_s_3 %}
    <p>{%  trans "With your settings, 57% of the daily heat consumption can be temporarily stored. That corresponds to a storage capacity of 5 GWh" %}</p>
  </p>
</div>
