{% load i18n %}

{% include "widgets/slider.html" with field=form.v_iv_1 %}
<div class="sidepanel">
  <p class="sidepanel__heading">
    {%  trans "Detail settings" %}
    {% include "widgets/sidepanel_close_btn.html" %}
    <p>{%  trans "Set the share of electric vehicles in motorized private transport." %}</p>
    {% include "widgets/slider.html" with field=form.v_iv_3 %}
    <p>{%  trans "With your settings, 22% of private vehicles (compact, mid-size, full-size) are electric. Of these,<br>- 50% are battery electric (BEV) and<br>- 50% are plug-in hybrid vehicles." %}</p>
  </p>
</div>
