{% load i18n %}

{% include "widgets/slider.html" with field=form.v_iv_1 %}
<div class="sidepanel">
  <div class="sidepanel__heading">
    {%  trans "Detail settings" %}
    {% include "widgets/sidepanel_close_btn.html" %}
  </div>
  <p class="sidepanel__indication">
    {%  trans "Stelle den Anteil der elektrischen Fahrzeuge am motorisierten Individualverkehr ein:" %}
  </p>
  <div class="sidepanel__block sidepanel__block--slider">
    <span>
      {% include "widgets/slider.html" with field=form.v_iv_3 %}
    </span>
  </div>
</div>
