{% for field in form %}
  {% include "widgets/slider.html" with field=field %}
  <div class="sidepanel">
    <p class="sidepanel__heading">
      Detaileinstellungen
    </p>
    <div class="sidepanel__slider">
      <div class="sidepanel__label">
        <span><label for="id_conventional">Abstand zu Siedlungen (m)</label></span>
      </div>
      <span class="irs irs--flat js-irs-1"><span class="irs"><span class="irs-line" tabindex="0"></span><span class="irs-min" style="visibility: visible;">0</span><span class="irs-max" style="visibility: visible;">216</span><span class="irs-from" style="visibility: hidden;">0</span><span class="irs-to" style="visibility: hidden;">0</span><span class="irs-single" style="left: 30.4056%;">71</span></span><span class="irs-grid"></span><span class="irs-bar irs-bar--single" style="left: 0px; width: 33.6836%;"></span><span class="irs-shadow shadow-single" style="display: none;"></span><span class="irs-handle single" style="left: 31.3098%;"><i></i><i></i><i></i></span></span><input type="text" name="conventional" class="js-range-sidepanel-slider irs-hidden-input" data-min="0" data-max="216" data-from="71" data-grid="" required="" id="id_conventional" tabindex="-1" readonly="">
    </div>
    <div class="sidepanel__slider">
      <div class="sidepanel__label">
        <span><label for="id_conventional">Abstand zu Siedlungen (m)</label></span>
      </div>
      <span class="irs irs--flat js-irs-1"><span class="irs"><span class="irs-line" tabindex="0"></span><span class="irs-min" style="visibility: visible;">0</span><span class="irs-max" style="visibility: visible;">216</span><span class="irs-from" style="visibility: hidden;">0</span><span class="irs-to" style="visibility: hidden;">0</span><span class="irs-single" style="left: 30.4056%;">71</span></span><span class="irs-grid"></span><span class="irs-bar irs-bar--single" style="left: 0px; width: 33.6836%;"></span><span class="irs-shadow shadow-single" style="display: none;"></span><span class="irs-handle single" style="left: 31.3098%;"><i></i><i></i><i></i></span></span><input type="text" name="conventional" class="js-range-sidepanel-slider irs-hidden-input" data-min="0" data-max="216" data-from="71" data-grid="" required="" id="id_conventional" tabindex="-1" readonly="">
    </div>
    <div class="sidepanel__slider">
      <div class="sidepanel__label">
        <span><label for="id_conventional">Abstand zu Siedlungen (m)</label></span>
      </div>
      <span class="irs irs--flat js-irs-1"><span class="irs"><span class="irs-line" tabindex="0"></span><span class="irs-min" style="visibility: visible;">0</span><span class="irs-max" style="visibility: visible;">216</span><span class="irs-from" style="visibility: hidden;">0</span><span class="irs-to" style="visibility: hidden;">0</span><span class="irs-single" style="left: 30.4056%;">71</span></span><span class="irs-grid"></span><span class="irs-bar irs-bar--single" style="left: 0px; width: 33.6836%;"></span><span class="irs-shadow shadow-single" style="display: none;"></span><span class="irs-handle single" style="left: 31.3098%;"><i></i><i></i><i></i></span></span><input type="text" name="conventional" class="js-range-sidepanel-slider irs-hidden-input" data-min="0" data-max="216" data-from="71" data-grid="" required="" id="id_conventional" tabindex="-1" readonly="">
    </div>
  </div>
{% endfor %}
