
<div class="modal fade" id="modalAbout" tabindex="-1" aria-labelledby="modalAboutLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAboutLabel">About – Enershelf Webmap tool</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="https://enershelf.de/">EnerSHelf</a> – Energy supply for Healthcare Facilities in Ghana is a joint German-Ghanaian research project.
        This web tool, developed by the <a href="https://rl-institut.de">Reiner Lemoine Institute</a>, allows the user to visualise an electrification strategy for healthcare facilities and their surrounding communities in Ghana.
        We aim to display where and how PV-based mini grids can help overcome energy scarcity and reduce frequent blackouts, which are particularly relevant for the health sector.
        Moreover, this map serves as a tool to illustrate and locate the market potential for PV-based minigrids, so as to make the most of Ghana’s favourable conditions for harvesting solar energy.

        <h2>Open data sources and software tools</h2>

        <h3>Electrification infrastructure:</h3>
        <ul>
          <li>Grid finder - https://gridfinder.org/</li>
          <li>OSM</li>
        </ul>

        <h3>Healthcare Infrastructure:</h3>
        <ul>
          <li>OSM - https://data.humdata.org/dataset/hotosm_gha_health_facilities</li>
          <li>Global Health sites Mapping Project - https://www.healthsites.io/#country-data</li>
          <li>WHO - https://data.humdata.org/dataset/health-facilities-in-sub-saharan-africa</li>
          <li>Ghana Open Data Initiative - https://data.gov.gh/dataset/health-facilities</li>
          <li>The health sector in Ghana facts and figures 2015 - https://www.moh.gov.gh/facts-figures/</li>
        </ul>

        <h3>Population:</h3>
        <ul>
          <li>Population density estimations - https://data.humdata.org/dataset/highresolutionpopulationdensitymaps-gha</li>
          <li>Population settlements – https://academiccommons.columbia.edu/doi/10.7916/d8-nsa3-0f74</li>
        </ul>

        <h3>Administrative boundaries:</h3>
        <ul>
          <li>Updated national, regional and district borders: https://data.humdata.org/dataset/dc4c17cf-59d9-478c-b2b7-acd889241194</li>
        </ul>

        <h3>Nightlights:</h3>
        <ul>
          <li>NASA’s Black Marble Products: https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/VNP46A4/#overview</li>
        </ul>

        <h2>Primary Software tools</h2>
        <h3>Data generation:</h3>
        <ul>
          <li>Github repository – tools used</li>
          <li>QGIS version 3.16 Hannover</li>
          <li>Django, Bootstrap, Mapbox-gl-js</li>
        </ul>

        <h2>Contributors:</h2>
        <h3>Project Management</h3>
        <h3>GUI Development and Design</h3>
        <h3>Dataset analysis and Visualization</h3>

        If you have any questions regarding the data displayed, find any bugs, or have any suggestions for improvements, please contact us. [Contact us as link to Contact section]
      </div>
    </div>
  </div>
</div>

