
<div class="modal fade" id="modalAbout" tabindex="-1" aria-labelledby="modalAboutLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="empty"></div>
        <h2 class="modal-title" id="modalAboutLabel">About – Enershelf Webmap tool</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <p><a href="https://enershelf.de/">EnerSHelf</a> – Energy supply for Healthcare Facilities in Ghana is a joint German-Ghanaian research project.
            This web tool, developed by the <a href="https://rl-institut.de">Reiner Lemoine Institute</a>, allows the user to visualise an electrification strategy for healthcare facilities and their surrounding communities in Ghana.
            We aim to display where and how PV-based mini grids can help overcome energy scarcity and reduce frequent blackouts, which are particularly relevant for the health sector.
            Moreover, this map serves as a tool to illustrate and locate the market potential for PV-based minigrids, so as to make the most of Ghana’s favourable conditions for harvesting solar energy.</p>
  
          <h3>Open data sources and software tools</h3>
  
          <h4>Electrification infrastructure:</h4>
          <ul>
            <li><a href="https://gridfinder.org/">Grid finder</a></li>
            <li>OSM</li>
          </ul>
  
          <h4>Healthcare Infrastructure:</h4>
          <ul>
            <li><a href="https://data.humdata.org/dataset/hotosm_gha_health_facilities">OSM</a></li>
            <li><a href="https://www.healthsites.io/#country-data">Global Health sites Mapping Project </a></li>
            <li><a href="https://data.humdata.org/dataset/health-facilities-in-sub-saharan-africa">WHO</a></li>
            <li><a href="https://data.gov.gh/dataset/health-facilities">Ghana Open Data Initiative</a></li>
            <li><a href="https://www.moh.gov.gh/facts-figures/">The health sector in Ghana facts and figures 2015</a></li>
          </ul>
  
          <h4>Population:</h4>
          <ul>
            <li><a href="https://data.humdata.org/dataset/highresolutionpopulationdensitymaps-gha">Population density estimations</a></li>
            <li><a href="https://academiccommons.columbia.edu/doi/10.7916/d8-nsa3-0f74">Population settlements</a></li>
          </ul>
  
          <h4>Administrative boundaries:</h4>
          <ul>
            <li>Updated national, regional and district borders: <a href="https://data.humdata.org/dataset/dc4c17cf-59d9-478c-b2b7-acd889241194">https://data.humdata.org/dataset/dc4c17cf-59d9-478c-b2b7-acd889241194</a></li>
          </ul>
  
          <h4>Nightlights:</h4>
          <ul>
            <li>NASA’s Black Marble Products: <a href="https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/VNP46A4/#overview">https://ladsweb.modaps.eosdis.nasa.gov/missions-and-measurements/products/VNP46A4/#overview</a></li>
          </ul>
  
          <h3>Primary Software tools</h3>
          <h4>Data generation:</h4>
          <ul>
            <li>Github repository – tools used</li>
            <li>QGIS version 3.16 Hannover</li>
            <li>Django, Bootstrap, Mapbox-gl-js</li>
          </ul>
  
          <h3>Contributors:</h3>
          <h4>Project Management</h4>
          <h4>GUI Development and Design</h4>
          <h4>Dataset analysis and Visualization</h4>
  
          <p>
            If you have any questions regarding the data displayed, find any bugs, or have any suggestions for improvements, please contact us. [Contact us as link to Contact section]
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

