{% load static i18n %}
{% load crispy_forms_tags %}

<div class="modal" id="js-intro-modal" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <h2 class="modal-title">EnerSHelF</h2>
        <p>Understand how and where photovoltaic-based mini-grids can help overcome energy scarcity and reduce frequent blackouts.</p>
        <p>Locate the market potential for photovoltaic-based mini-grids.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Explore</button>
      </div>
    </div>
  </div>
</div>