{% load static i18n %}

<section class="map-wrap">
  <nav class="top-nav">
    <div class="top-nav__links">
      <ul>
        <li>
          <a href="#">Dokumentation</a>
        </li>
        <li>
          <a href="#">Quellen</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
        <li>
          <a href="#">DE</a>
        </li>
        <li>
          <a href="#">EN</a>
        </li>
      </ul>
    </div>
  </nav>
  <section id="map">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>
  <div id='legend' hidden></div>
  <button id="satellite-layer" onclick="toggleSatellite();">
    <img src="../../static/images/icons/layers.svg" alt="Layers">
  </button>
</section>
