{% load static i18n %}

<section class="map-wrap">
  <div class="steps">
    <div class="steps__list">
      <a href="#" class="steps__item">
        <span class="steps__number">1</span>
        <span class="steps__text">Region heute</span>
      </a>
      <a href="#" class="steps__item active" aria-current="true">
        <span class="steps__number">2</span>
        <span class="steps__text">Einstellungen</span>
      </a>
      <a href="#" class="steps__item disabled" tabindex="-1" aria-disabled="true">
        <span class="steps__number">3</span>
        <span class="steps__text">Ergebnisse</span>
      </a>
    </div>
  </div>
  <div class="view-toggle">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="mainTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <section id="map">
        <div class="lds-spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </section>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  </div>
  <div id='legend' hidden></div>
  <button id="satellite-layer" onclick="toggleSatellite();">
    <img src="../../static/images/icons/layers.svg" alt="Layers">
  </button>
</section>
