{% load static i18n %}

<section class="map-wrap">
  <div class="steps">
    1 - 2 - 3
  </div>
  <section id="map">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </section>
  <div id='legend' hidden></div>
  <button id="satellite-layer" onclick="toggleSatellite();">
    <img src="../../static/images/icons/layers.svg" alt="Layers">
  </button>
</section>
