{% load static i18n %}
{% load crispy_forms_tags %}

<section class="panel">
  <section class="panel__content">
    <div class="panel__chart">
      <div id="chart1"></div>
      <div id="chart2"></div>
    </div>
    <div class="panel__settings">
      <div class="panel-item">
        <h2 class="panel-item__heading">Lage heute</h2>
        <div class="panel-item__form">
          <select class="form-select" aria-label="Default select example">
            <optgroup label="Planungsregion">
              <option value="EinwohnerInnen" selected>EinwohnerInnen</option>
              <option value="Bevölkerungsdichte">Bevölkerungsdichte</option>
            </optgroup>
            <optgroup label="Erneuerbare Energien (EE)">
              <option value="Anteil Energie aus EE an Strombedarf">Anteil Energie aus EE an Strombedarf</option>
              <option value="Gewonnene Energie aus EE">Gewonnene Energie aus EE</option>
              <option value="Gewonnene Energie aus EE je EinwohnerIn">Gewonnene Energie aus EE je EinwohnerIn</option>
              <option value="Gewonnene Energie aus EE je km²">Gewonnene Energie aus EE je km²</option>
              <option value="Installierte Leistung EE">Installierte Leistung EE</option>
              <option value="Installierte Leistung EE je km²">Installierte Leistung EE je km²</option>
              <option value="Anzahl Windenergieanlagen je km²">Anzahl Windenergieanlagen je km²</option>
            </optgroup>
            <optgroup label="Energiebedarf">
              <option value="Strombedarf">Strombedarf</option>
              <option value="Strombedarf je EinwohnerIn">Strombedarf je EinwohnerIn</option>
              <option value="Wärmebedarf">Wärmebedarf</option>
              <option value="Wärmebedarf je EinwohnerIn">Wärmebedarf je EinwohnerIn</option>
            </optgroup>
          </select>
          <img src="../../static/images/icons/info.svg" alt="Info Icon" data-bs-toggle="tooltip" title="Einwohner im Jahr 2021" >
        </div>
      </div>
      <div class="panel-item">
        <div id="chart3"></div>
        <div id="chart4"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="footer__logos">
      <div class="footer__logo footer__logo--eaa">
        <a href="https://www.energieavantgarde.de/" target="_blank" rel="noopener noreferrer">
          <img src="../../static/images/logos/EAA_logo.png" alt="Logo der Energieavantgarde Anhalt">
        </a>
      </div>
      <div class="footer__logo footer__logo--rli">
        <a href="https://reiner-lemoine-institut.de/" target="_blank" rel="noopener noreferrer">
          <img src="../../static/images/logos/RLI_logo_weiss.png" alt="Logo des Reiner Lemoine Instituts">
        </a>
      </div>
      <div class="footer__logo footer__logo--bmbf">
        <a href="https://www.bmbf.de/" target="_blank" rel="noopener noreferrer">
          <img src="../../static/images/logos/BMBF_logo.png" alt="Logo des Bundesministeriums für Bildung und Forschung">
        </a>
      </div>
    </div>
    <div class="footer__links">
      <ul>
        <li>
          <a href="#">Imprint</a>
        </li>
        <li>
          <a href="#">Data privacy</a>
        </li>
      </ul>
    </div>
  </footer>
</section>
