{% load l10n %}

<div class="grid-x grid-margin-x slider-item">
  <div class="cell small-4 slider-item__input">
    <input type="number" id="{{widget.attrs.id}}" lang="de-DE">
  </div>
  <div class="cell small-8 slider-flex">
    <div class="slider" data-slider data-start="{{widget.attrs.start|unlocalize}}" data-end="{{widget.attrs.end|unlocalize}}" data-step="{{widget.attrs.step|unlocalize}}" data-initial-start="{{widget.attrs.initial_start|unlocalize}}">
      <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="{{widget.attrs.id}}"></span>
      <span class="slider-fill" data-slider-fill></span>
    </div>
  </div>
</div>
