{% load static %}

<div class="{{ widget.attrs.filter_class }}">
  <div class="{{ widget.attrs.header_class }}">
    {% if widget.attrs.icon %}
      <svg class="icon">
        <use xlink:href="{% static 'images/icons/sprite.svg' %}#{{ widget.attrs.icon }}"></use>
      </svg>
    {% endif %}
    <div class="filter--info">
      {{ widget.attrs.label }}
      {% if widget.attrs.tooltip %}
        {% include 'widgets/info_button.html' with description=widget.attrs.tooltip %}
      {% endif %}
    </div>
  </div>
  <div class="dont-delete">
    <div class="slider" {% if widget.attrs.id %}id="{{ widget.attrs.id }}"{% endif %} data-slider
         data-start="{{ widget.attrs.start }}" data-end="{{ widget.attrs.end }}" data-step="{{ widget.attrs.step }}"
         data-initial-start="{{ widget.attrs.initial_start }}">
      <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
      <span class="slider-fill" data-slider-fill></span>
      <input type="hidden">
    </div>
  </div>
  <div class="{% if widget.attrs.item_class %}{{ widget.attrs.item_class }}{% else %}slider-item__numbers{% endif %}">
    <ul {% if widget.attrs.item_id %}id="{{ widget.attrs.item_id }}"{% endif %}>
      {% for item, item_class in widget.attrs.items %}
        <li {% if item_class %}class="{{ item_class }}"{% endif %}>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
