{% load static i18n %}

<section class="map-wrap">
  <div class="steps">
    <div class="steps__list">
      <a href="#" class="steps__item">
        <span class="steps__number">1</span>
        <span class="steps__text">Region heute</span>
      </a>
      <a href="#" class="steps__item active" aria-current="true">
        <span class="steps__number">2</span>
        <span class="steps__text">Einstellungen</span>
      </a>
      <a href="#" class="steps__item disabled" tabindex="-1" aria-disabled="true">
        <span class="steps__number">3</span>
        <span class="steps__text">Ergebnisse</span>
      </a>
    </div>
  </div>
  
  <!-- Toggle map/results views -->
  {% include 'components/toggle-view.html' %}

  <!-- Show only map view -->
  <!-- {% include 'components/map-view.html' %} -->

  <div id='legend' hidden></div>
  <button id="satellite-layer" onclick="toggleSatellite();">
    <img src="../../static/images/icons/layers.svg" alt="Layers">
  </button>
</section>
