{% load static i18n %}

<div class="panel__chart">
  <div id="chart1"></div>
  <div id="chart2"></div>
</div>
<div class="panel__settings">
  <div class="panel-item">
    <h2 class="panel-item__heading">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-bar-graph-fill" viewBox="0 0 16 16">
        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 11.5v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
      </svg>
      Lage heute
    </h2>
    <div class="panel-item__form">
      <select class="form-select" aria-label="Default select example">
        <optgroup label="Planungsregion">
          <option value="EinwohnerInnen" selected>EinwohnerInnen</option>
          <option value="Bevölkerungsdichte">Bevölkerungsdichte</option>
        </optgroup>
        <optgroup label="Erneuerbare Energien (EE)">
          <option value="Anteil Energie aus EE an Strombedarf">Anteil Energie aus EE an Strombedarf</option>
          <option value="Gewonnene Energie aus EE">Gewonnene Energie aus EE</option>
          <option value="Gewonnene Energie aus EE je EinwohnerIn">Gewonnene Energie aus EE je EinwohnerIn</option>
          <option value="Gewonnene Energie aus EE je km²">Gewonnene Energie aus EE je km²</option>
          <option value="Installierte Leistung EE">Installierte Leistung EE</option>
          <option value="Installierte Leistung EE je km²">Installierte Leistung EE je km²</option>
          <option value="Anzahl Windenergieanlagen je km²">Anzahl Windenergieanlagen je km²</option>
        </optgroup>
        <optgroup label="Energiebedarf">
          <option value="Strombedarf">Strombedarf</option>
          <option value="Strombedarf je EinwohnerIn">Strombedarf je EinwohnerIn</option>
          <option value="Wärmebedarf">Wärmebedarf</option>
          <option value="Wärmebedarf je EinwohnerIn">Wärmebedarf je EinwohnerIn</option>
        </optgroup>
      </select>
      <img src="../../static/images/icons/info.svg" alt="Info Icon" data-bs-toggle="tooltip" title="Einwohner im Jahr 2021" >
    </div>
  </div>
  <div class="panel-item">
    <div id="chart3" class="panel-item__chart"></div>
    <div id="chart4" class="panel-item__chart"></div>
  </div>
</div>