body {
  font-family: $main-font-family !important;
  color: $enershelf-black;
}

// general links and anchors
@each $anchor-pseudo-class in $anchor-pseudo-classes {
  a#{$anchor-pseudo-class} {
    font-weight: 400;
    color: $enershelf-red;
    text-decoration: none;
  }
}

// navigation and footer links
@each $anchor-pseudo-class in $anchor-pseudo-classes {
  nav a#{$anchor-pseudo-class},
  footer a#{$anchor-pseudo-class} {
    color: $enershelf-black;
  }
}