// COLORS
$c-color-gray: #CAD3DB;

// TYPOGRAPHY
$font-size-xlarge: 1.953rem; // 31.25px
$font-size-large: 1.563rem; // 25px
$font-size-medium: 1.25rem; // 20px
$font-size-normal: 1rem; // 16px
$font-size-small: .875rem; // 14px

$letter-spacing-small: 0.01rem;
$letter-spacing-normal: 0.03rem;

// LEFT PANEL
$panel-width: 26rem;
$panel-side-padding: 1.5rem;

// Media-breaks
$small-screen: 640px;
$medium-screen: 992px;
$large-screen: 1250px;
$xlarge-screen: 1500px;

// TOP-NAV
$top-nav-height: 2.5rem;

// STEPS
$steps-height: 3.75rem;
$steps-numbers-size: 2rem;

// MAP
$map-height: calc(100vh - #{$top-nav-height} - #{$steps-height});

// ICONS
$info-icon-size: 1.25rem;