{% load static %}

<section class="offcanvas-view offcanvas" tabindex="-1" id="offcanvasDocumentation" data-bs-backdrop="false" aria-labelledby="offcanvasDocumentationLabel">
  <div class="offcanvas-view__wrap">
    <p style="text-align: right; color: #666666">App-Version {{ app_version }}</p>
    <h2 class="offcanvas-view__title" id="offcanvasDocumentationLabel">Dokumentation</h2>
    <div class="offcanvas-view__body">
      <p>StEmp-ABW ist ein Stakeholder-Empowerment-Tool für die Region Anhalt-Bitterfeld-Wittenberg (ABW) und die Weiterentwicklung der <a href="https://wam.rl-institut.de/stemp_abw/" target="_blank">ersten Version von 2019</a>. Es wurde vom Reiner Lemoine Institut (RLI) im Rahmen des Projekts <a href="https://www.bbsr.bund.de/BBSR/DE/forschung/programme/region-gestalten/initiativen/2020/heimat-2-0/01-start.html" target="_blank">Heimat 2.0</a> im Programm <a href="http://www.regiongestalten.de" target="_blank">Region gestalten</a> entwickelt.</p>
      <p>Methodische und technische Hintergrundinformationen und Anleitungen finden Sie in unserer Dokumentation auf <a href="https://digipipe.readthedocs.io" target="_blank">ReadTheDocs</a>.</p>
      <p>Der Quellcode der App <a href="https://github.com/rl-institut/digiplan/" target="_blank">Digiplan</a> ist frei verfügbar. Die benötigten Daten wurden mit der Daten-Pipeline <a href="https://github.com/rl-institut/digipipe/" target="_blank">Digipipe</a> erzeugt, die ebenfalls den Prinzipien von Open Source & Open Data folgt.</p>
      <p>Dieses Tool und mehr Informationen zu unseren anderen Tools, Karten und Apps zur Energiewende finden Sie auf dem <a href="https://wam.rl-institut.de" target="_blank">WAM-Portal des RLI</a>.</p>
      <h3 class="offcanvas-view__subtitle">Über dieses Tool</h3>
      <p>Die Energiewende kann nur gemeinsam erreicht werden. Wie aber können alle Interessensgruppen ihre Sichtweisen und Bedürfnisse in die Energiewendeplanung einbringen? Das Reiner Lemoine Institut (RLI) hat dieses Stakeholder-Empowerment-Tool mit Unterstützung der Energieavantgarde Anhalt e.V. (EAA) entwickelt, das es Akteurinnen und Akteuren der Energiewende ermöglicht, sich an Planungsprozessen zu beteiligen.</p>
      <p>Das Ziel ist die Beförderung des Klimaschutzes in ländlichen Regionen durch eine effiziente und transparente Steuerung. Hierzu sollen dezentrale Energiesysteme gestärkt werden, um beispielsweise hohe Netzentgelte für ländliche Regionen zu vermeiden und die Akzeptanz des EE-Angebotes zu fördern. In einem dezentralen Energiesystem können unfaire Kosten vermieden und die BürgerInnen zum Prosuming ermutigt werden. Dies erfordert sorgfältiges Planen – auch über aktuelle Markttrends hinaus. Dadurch entsteht eine höhere Akzeptanz durch eigenes und gemeinsames Handeln und Verhandeln, wovon der Klimaschutz profitiert.</p>
      <p>Das Tool kann zur Unterstützung regionaler Planungsorganisationen und Landkreise sowie für die Partizipation der Zivilgesellschaft eingesetzt werden, um die Implementierung von Erneuerbaren Energien effizienter zu planen und den Zubau besser und schneller zu steuern. Es ermöglicht BürgerInnen und Administrationen den Zugriff auf den Energiekonsum und die genutzten und verfügbaren Energiequellen in ihrer jeweiligen Region. Dies gewährleistet ein besseres Verständnis der aktuellen Lage und hilft, Bedarfe und Potenziale zu erkunden sowie Ausbaupfade zu verhandeln.</p>
      <h3 class="offcanvas-view__subtitle">Partner</h3>
      <div class="offcanvas-view__logos">
        <div class="offcanvas-view__logo offcanvas-view__logo--rli">
          <a href="https://reiner-lemoine-institut.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/RLI_logo_weiss.png' %}" alt="Logo des Reiner Lemoine Instituts">
          </a>
        </div>
        <div class="offcanvas-view__logo offcanvas-view__logo--eaa">
          <a href="https://www.energieavantgarde.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/EAA_logo.png' %}" alt="Logo der Energieavantgarde Anhalt">
          </a>
        </div>
      </div>
      <h3 class="offcanvas-view__subtitle">Förderung</h3>
      <p>Das Vorhaben „DigiPlan Energiewandel Anhalt“ wird innerhalb des Programms <i>Region gestalten</i> des Bundesministeriums für Wohnen, Stadtentwicklung und Bauwesen in Zusammenarbeit mit dem Bundesinstitut für Bau-, Stadt- und Raumforschung gefördert.</p>
      <div class="offcanvas-view__logos">
        <div class="offcanvas-view__logo offcanvas-view__logo--bmwsb">
          <a href="https://www.bmwsb.bund.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/CDR_BMWSB_Fz_2021_WebSVG_de.svg' %}" alt="Logo des Bundesministeriums für Wohnen, Stadtentwicklung und Bauwesen">
          </a>
        </div>
        <div class="offcanvas-view__logo offcanvas-view__logo--bbsr">
          <a href="https://www.bbsr.bund.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/BBSR_geschl_RGB.jpg' %}" alt="Logo des Bundesinstituts für Bau-, Stadt- und Raumforschung">
          </a>
        </div>
        <div class="offcanvas-view__logo offcanvas-view__logo--rg">
          <a href="https://www.bmi.bund.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/VDI-VDE-BULE-BMI_Logo-4C.png' %}" alt="Logo Region Gestalten" title="Region Gestalten">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
