/////////////////////////////////////// SWITCHES ///////////////////////////////////////
.form-check.form-switch .form-check-input {
  margin-left: 0;

  &:checked {
    background-color: $blue;
    border-color: $blue;
  }

  &:focus {
    border-color: $blue;
  }

  &:not(:checked):focus {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba%28250, 174, 29, 0.25%29'/></svg>");
  }
}

/////////////////////////////////////// SLIDERS ///////////////////////////////////////
.c-slider {
  @extend .py-2;

  &__label {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-between;
    @extend .fs-7;

    img {
      height: $info-icon-size;
      width: $info-icon-size;
    }
  }
}

.irs.irs--flat {
  .irs-line {
    @extend .bg-light;
  }

  .irs-from,
  .irs-to,
  .irs-bar,
  .irs-single {
    background-color: $blue;
  }

  .irs-from:before, 
  .irs-to:before,
  .irs-single:before {
    border-top-color: $blue;
  }

  .irs-handle {
    &>i:first-child,
    &.state_hover>i:first-child,
    &:hover>i:first-child {
      background-color: $blue;
    }
  }
}

/////////////////////////////////////// CONTAINERS ///////////////////////////////////////
// Container for selecting different options
.select2.select2-container {
  width: 100% !important;
}