.map-content {
  @media only screen and (min-width: $medium-screen) {
    @include flex-row;
  }
}

.map-wrap {
  @include flex-column;
  width: calc(100% - #{$panel-width});
}

#map {
  height: calc(100vh - #{$top-nav-height});
}
