.map-content {
  height: calc(100vh - #{$top-nav-height});

  @media only screen and (min-width: $medium-screen) {
    @include flex-row;
  }
}

.map-wrap {
  @include flex-column;
  width: 100%;
  position: relative;

  @media only screen and (min-width: $medium-screen) {
    width: calc(100% - #{$panel-width});
  }
}

#mainTabContent {
  height: $map-height;
}

#map {
  height: $map-height;
}

.map {
  &__layers-btn {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .position-absolute;
    @extend .rounded-circle;
    @extend .bg-white;
    @extend .border;
    cursor: pointer;
    width: $map-layers-btn-size;
    height: $map-layers-btn-size;
    top: calc(#{$steps-height} + #{$map-items-padding});
    right: $map-items-padding;
    z-index: 9;

    svg {
      @extend .d-block;
    }
  }

  &__layers-box {
    @extend .position-absolute;
    @extend .bg-white;
    @extend .border;
    @extend .p-2;
    width: $map-layers-box-width;
    height: $map-layers-box-height;
    top: calc(#{$steps-height} + #{$map-items-padding});
    right: $map-items-padding;
    z-index: $map-layers-box-z-index;
    display: none;
  }

  &__layers-close {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-end;
  }

  &__layers-heading {
    @extend .fs-7;
    @extend .text-uppercase;
    @extend .fw-bold;
  }
}

.map-layer {
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-between;

  &__legend {
    &-color {
      @extend .d-inline-block;
      @include translateY(2px);
      width: 1rem;
      height: 1rem;
      background-color: blue;
    }

    &-text {
      @extend .d-inline-block;
      @extend .fs-7;
    }
  }
  &__control {
    @extend .d-flex;
    @extend .flex-row;

    &-toggle {
      height: 2rem;
    }

    img {
      @extend .me-1;
    }
  }
}

.legend {
  @extend .position-absolute;
  @extend .bg-white;
  @extend .border;
  @extend .p-2;
  width: $map-layers-box-width;
  height: calc(100vh - #{$top-nav-height} - #{$steps-height} - #{$map-layers-box-height} - (2 * #{#{$map-items-padding}}) - #{$map-legend-box-padding-bottom});
  right: $map-items-padding;
  bottom: 2rem;
  z-index: $map-layers-box-z-index;
}

#satellite-layer {
  position: absolute;
  bottom: 2rem;
  right: 12rem;
  width: 3rem;
  height: 3rem;
  @extend .rounded;
  background-color: rgba(255, 255, 255, 0.8);
  border-width: 1px;
  border-color: #bdbdbd;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
