$map-info-box-min-width: 23rem;
$map-info-box-padding: 1rem;

.button {
  margin: 0;
}

.map-content {
  display: flex;
  flex-direction: row;
}

.map-wrap {
  width: calc(100% - #{$panel-width-large});
}

#map {
  height: calc(100vh - #{$top-nav-height});

  .info {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: .5rem 0 0 .5rem;
    padding: $map-info-box-padding;
    background: $white;
    border-radius: .125rem;
    z-index: 1000;
    font-family: flexo, Helvetica, Roboto, Arial, sans-serif;
    min-width: $map-info-box-min-width;
    user-select: none;

    .info-title {
      color: #7F7F7F;
      font-size: 1rem;
      margin: 0 0 .5rem 0;
    }

    .info-content .highlight {
      color: $enershelf-pink;
    }

    .info-content .link {
      color: $enershelf-blue;
      font-weight: 600;
      cursor: pointer;
    }

    .info-content .header {
      color: $enershelf-pink;
      font-weight: 600;
    }

    .info-content > div {
      width: calc(#{$map-info-box-min-width} - (#{$map-info-box-padding} * 2));
      color: $gray-2;
    }

    #info__content-input ~ .info-title::after {
      content: "Windpotenzialflächen (pink)";
      color: $enershelf-pink;
    }

    #info__content-input:checked ~ .info-title {
      margin: 0;
    }

    #info__content-input:checked ~ .info-title::after {
      content: "Flächeninfo";
    }

    #info__content-input:checked ~ .info-content {
      display: none;
    }

    .info__content-input-label {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0.75rem;
      right: 1rem;
      color: #008EC0;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      user-select: none;
    }

    #info__content-input ~ .info__content-input-label::after {
      content: "－";
    }

    #info__content-input:checked ~ .info__content-input-label::after {
      content: "＋";
    }

    .info__subtext {
      padding-top: 1.25rem;

      .link {
        color: $enershelf-blue;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .info__name {
      height: 1rem;
      font-size: 1rem;
      padding: 1rem 0;
    }

    .info__input-label {
      display: none;
      margin: 0;
      padding-top: .5rem;
      font-size: .75rem;
      color: $enershelf-blue;
    }

    .info__input-label--active {
      display: block;
    }

    .info__input-label:hover {
      color: $enershelf-blue;
    }

    #info__input:checked ~ .info__input-label {
      color: $enershelf-blue;
    }

    #info__input:checked ~ .js-info-layers {
      display: none;
    }

    .js-info-layer:first-of-type {
      padding-top: .5rem;
    }

    .js-info-layer__color {
      display: inline-block;
      height: .6rem;
      width: .6rem;
      margin-right: .3rem;
    }
  }
}

.small-screen-message {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: #ffffff;
}
