.top-nav {
  @include flex-row-space-between;
  align-items: center;
  height: $top-nav-height;
  padding: 0 $padding-normal 0 $padding-small;

  &__links {
    @media only screen and (max-width: $medium-screen - 1px) {
      display: none;
    }

    ul {
      @include ul-horizontal;
    }

    li {
      display: inline-block;
    }

    li:not(:last-of-type) {
      padding-right: 1.5rem;
    }

    .logo img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

#autocomplete {
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: calc(#{$search-input-width} - 1.75rem) center;
  width: $search-input-width;
  border: 1px solid $gray-2;
  padding-left: 0.5rem;
  height: 2rem;
  border-radius: $border-radius-small;
}