.container-test {
  @extend .d-flex;
  @extend .flex-column;
}

.steps {
  height: $steps-height;
}

.top-nav {
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-end;
  @extend .align-items-center;
  @extend .pt-0;
  @extend .pe-2;
  @extend .pb-0;
  @extend .ps-1;
  @extend .shadow-sm;
  height: $top-nav-height;

  &__links {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    ul {
      @include ul-horizontal;
    }

    li {
      display: inline-block;
    }

    li:not(:last-of-type) {
      padding-right: 1.5rem;
    }

    .logo img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.wizard {
  height: $top-nav-height;
}

#autocomplete {
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: calc(#{$search-input-width} - 1.75rem) center;
  width: $search-input-width;
  border: 1px solid $gray-2;
  padding-left: 0.5rem;
  height: 2rem;
  border-radius: $border-radius-small;
}