{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}EnerSHelf{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {# Only for JS that MUST be in the head #}
    {% block js_head %}{% endblock%}

    {% block css %}
      {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}

  </head>

  <body>

    <div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="menu">
      <div class="top-bar-left hide-for-small-only">
        <ul class="dropdown menu">
          <li class="menu-text">EnerSHelf</li>
        </ul>
      </div>

    </div>

    <div class="row">

      <div class="medium-6 medium-offset-3 columns">
        {% if messages %}
          {% for message in messages %}
            <div class="callout {% if message.tags %}{{ message.tags }}{% endif %}" data-closable>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {% block content %}{% endblock content %}
    {% block modal %}{% endblock modal %}

    {% block js_body %}

      {% compress js %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
        <script src="{% static 'libs/foundation-sites/js/foundation.min.js' %}"></script>
        <script src="{% static 'libs/pubsub/1.9.2/pubsub.js' %}"></script>
      {% endcompress %}

      {% compress js inline %}
        <script>
          var store_cold_init = {
            session_id: "{{session_id}}",
            allowedSwitches: ["wind_distance"],
            debugMode: false,
            debugModeVerbose: false,
            detailTab: {
              showPotentialLayers: true
            },
            hoveredStateId: null,
            staticState: 0,
            useDistilledMVTs: "{{ use_distilled_mvts }}" === "True"
          }
          store_cold_init = { ...store_cold_init, ...{{store_cold_init|safe}} };
          var store_hot_init = {{store_hot_init|safe}};
        </script>
      {% endcompress %}

      {% compress js %}
        <script src="{% static 'js/store.js' %}"></script>
        <script src="{% static 'js/event-topics.js' %}"></script>
        <script src="{% static 'js/project.js' %}"></script>
      {% endcompress %}

      <script>
        $(document).foundation();
      </script>
    {% endblock js_body %}
  </body>
</html>
