{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}EnerSHelf{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {# Only for JS that MUST be in the head #}
    {% block js_head %}{% endblock%}

    {% block css %}
      {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'libs/ionrangeslider/ion.rangeSlider.min.css' %}"/>
      {% endcompress %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% endblock %}

  </head>

  <body>

    <div>
      {% if messages %}
        {% for message in messages %}
          <div class="callout {% if message.tags %}{{ message.tags }}{% endif %}" data-closable>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>

    {% block content %}{% endblock content %}
    {% block modal %}{% endblock modal %}

    {% block js_body %}

      {% compress js %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'libs/pubsub/1.9.2/pubsub.js' %}"></script>
        <script src="{% static 'libs/ionrangeslider/ion.rangeSlider.min.js' %}"></script>
      {% endcompress %}

      {% compress js inline %}
        <script>
          $(".js-range-slider").ionRangeSlider();

          var store_cold_init = {
            session_id: "{{session_id}}",
            allowedSwitches: ["wind_distance"],
            debugMode: false,
            debugModeVerbose: false,
            detailTab: {
              showPotentialLayers: true
            },
            hoveredStateId: null,
            staticState: 0,
            useDistilledMVTs: "{{ use_distilled_mvts }}" === "True"
          }
          store_cold_init = { ...store_cold_init, ...{{store_cold_init|safe}} };
          var store_hot_init = {{store_hot_init|safe}};
        </script>
      {% endcompress %}

      {% compress js %}
        <script src="{% static 'js/store.js' %}"></script>
        <script src="{% static 'js/event-topics.js' %}"></script>
      {% endcompress %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    {% endblock js_body %}
  </body>
</html>
