{% extends "base.html" %}
{% load static i18n compress %}

{% block js_head %}
  {% compress js %}
    <script src="{% static 'js/mapbox-gl.min.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block css %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/map-gl.scss' %}">
    <link href="{% static 'css/mapbox-gl.css' %}" rel='stylesheet'/>
  {% endcompress %}
{% endblock %}

{% block content %}
  <section class="map-content show-for-large off-canvas-content" data-off-canvas-content>
    {% include 'canvases/panel.html' %}
    <pre id="info"></pre>
    {% include 'canvases/map.html' %}
  </section>

  {% include 'canvases/popup.html' %}
{% endblock content %}

{% block js_body %}
  {{ block.super }}

  {{ layer_styles|json_script:"styles" }}
  {{ layer_colors|json_script:"layer-colors" }}

  {% compress js inline %}
    <script>
      function setDebugMode(bool) {
        store.cold.debugMode = bool;
      }

      function setDebugModeVerbose(bool) {
        store.cold.debugModeVerbose = !(!store.cold.debugMode || !bool);
      }
    </script>
    <script>
      mapboxgl.accessToken = "{{mapbox_token}}";
      const map = new mapboxgl.Map({
        container: "map",
        style: "{{mapbox_style_location}}", // stylesheet location
        center: [-1.137, 7.88], // starting position [lng, lat]
        zoom: 5, // starting zoom
<!--        maxBounds: [[-2.54, 46.35], [23.93, 55.87]] // [[south-west], [north-east]] restrict area-->
      });
    </script>
    <script src="{% static 'js/popup.js' %}" type="text/javascript"></script>
    <script>
      map.showTileBoundaries = true;

      const nav = new mapboxgl.NavigationControl();
      map.addControl(nav, "top-right");

      {% for map_image in map_images %}
        map.loadImage("{% static map_image.path %}", function(error, image) {
          if (error) throw error;
          map.addImage("{{map_image.name}}", image);
        });
      {% endfor %}

      map.on("load", function () {

        {% for source in all_sources %}
          map.addSource(
            "{{source.name}}",
            {
              "type": "{{source.type}}",
              "promoteId": "id",
              {% if source.tiles %}
                "tiles": [
                  {% for tile in source.tiles %}
                    "{{request.scheme}}://{{request.get_host}}/{{tile|safe}}",
                  {% endfor %}
                ],
              {% endif %}
              {% if source.url %}
                "url": "{{source.url|safe}}",
              {% endif %}
            }
          );
        {% endfor %}

        {% for layer in all_layers %}
          {
            const layer_style = JSON.parse(document.getElementById("styles").textContent)["{{layer.style}}"];
            const layer_setup = {
              "id": "{{layer.id}}",
              "source": "{{layer.source}}",
              "source-layer": "{{layer.source_layer}}",
              "minzoom": {{layer.minzoom}},
              "maxzoom": {{layer.maxzoom}},
            };
            map.addLayer({...layer_setup, ...layer_style});
            {% if layer.type == "static" %}
              map.setLayoutProperty("{{ layer.id }}", "visibility", "none");
            {% endif %}
          }
        {% endfor %}

      });

      {% for layer in all_layers %}
        // Zoom to feature on click
        map.on("click", function (element) {
          flyToElement(element);
        });
      {% endfor %}

      {% for popup in popups %}
        add_popup("{{popup.layer_id}}", {{popup.fields|safe}});
      {% endfor %}

      {% for layer in all_layers %}
        {% if layer.style == "region-fill" %}
          // Show pointer cursor on fills
          map.on("mouseenter", "{{layer.id}}", function () {
            map.getCanvas().style.cursor = "pointer";
          });
          map.on("mouseleave", "{{layer.id}}", function () {
            map.getCanvas().style.cursor = "";
          });
        {% endif %}
      {% endfor %}

      {% for layer in all_layers %}
        {% if layer.style == "region-fill" %}
          // When the user moves their mouse over the fill layer, we'll update the
          // feature state for the feature under the mouse.
          map.on("mousemove", "{{layer.id}}", function (e) {
            if (e.features.length > 0) {
              if (store.cold.hoveredStateId >= 0) {
                // Fill layer
                map.setFeatureState({
                  source: "{{layer.source}}",
                  sourceLayer: "{{layer.source_layer}}",
                  id: store.cold.hoveredStateId
                }, {
                  hover: false
                });
                // Label layer
                map.setFeatureState({
                  source: "{{layer.source}}",
                  sourceLayer: "{{layer.source_layer}}label",
                  id: store.cold.hoveredStateId
                }, {
                  hover: false
                });
              }
              store.cold.hoveredStateId = e.features[0].id;
              // Fill layer
              map.setFeatureState({
                source: "{{layer.source}}",
                sourceLayer: "{{layer.source_layer}}",
                id: store.cold.hoveredStateId
              }, {
                hover: true
              });
              // Label layer
              map.setFeatureState({
                source: "{{layer.source}}",
                sourceLayer: "{{layer.source_layer}}label",
                id: store.cold.hoveredStateId
              }, {
                hover: true
              });
            }
          });

          // When the mouse leaves the fill layer, update the feature state of the
          // previously hovered feature.
          map.on("mouseleave", "{{layer.id}}", function () {
            if (store.cold.hoveredStateId >= 0) {
              map.setFeatureState({
                source: "{{layer.source}}",
                sourceLayer: "{{layer.source_layer}}",
                id: store.cold.hoveredStateId
              }, {
                hover: false
              });
            }
            store.cold.hoveredStateId = null;
          });
        {% endif %}
      {% endfor %}

      {% if debug %}
        {% for layer in all_layers %}
          map.on("click", "{{layer.id}}", function (e) {
            console.log(e.features[0].properties.name, e.features[0]);
          });
        {% endfor %}
        setDebugMode(true);
      {% endif %}
    </script>
  {% endcompress %}

  {% compress js %}
    <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/helper.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/state.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/layer.js' %}" type="text/javascript"></script>
  {% endcompress %}
{% endblock js_body %}
