{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Digiplan{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {# Only for JS that MUST be in the head #}
    {% block js_head %}{% endblock%}

    {% block css %}
      {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/app.scss' %}">
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'libs/ionrangeslider/ion.rangeSlider.min.css' %}"/>
        <link href="{% static 'django_select2/django_select2.css' %}" type="text/css" media="screen" rel="stylesheet">
      {% endcompress %}
      <link href="{%  static 'vendors/select2/css/select2.min.css' %}" type="text/css" media="screen" rel="stylesheet">
      <script src="{% static 'vendors/echarts/js/echarts.min.js' %}"></script>
    {% endblock %}

    {% if password_protected %}
      <script type="text/javascript">
        var s = "";
        const pw = "{{password}}";
        while (s != pw) {
          s = prompt("Bitte Passwort eingeben");
          if (s != pw) {
            alert("Falsches Passwort - bitte versuch es erneut!");
          }
        }
      </script>
    {% endif %}

  </head>

  <body>

    <div>
      {% if messages %}
        {% for message in messages %}
          <div class="callout {% if message.tags %}{{ message.tags }}{% endif %}" data-closable>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}</div>
        {% endfor %}
      {% endif %}
    </div>

    {% block content %}{% endblock content %}
    {% block modal %}{% endblock modal %}

    {% block js_body %}

      {% compress js %}
        <script src="{% static 'vendors/jquery/js/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/pubsub/1.9.2/pubsub.js' %}"></script>
        <script src="{% static 'libs/ionrangeslider/ion.rangeSlider.min.js' %}"></script>
      {% endcompress %}

      {% compress js inline %}
        <script>
          $(".js-range-slider").ionRangeSlider();

          var store_cold_init = {
            session_id: "{{session_id}}",
            allowedSwitches: ["wind_distance"],
            debugModeVerbose: false,
            detailTab: {
              showPotentialLayers: true
            },
            hoveredStateId: null,
            staticState: 0,
            useDistilledMVTs: "{{ use_distilled_mvts }}" === "True"
          }
          store_cold_init = { ...store_cold_init, ...{{store_cold_init|safe}} };
          var store_hot_init = {{store_hot_init|safe}};
        </script>
      {% endcompress %}

      <script src="{% static 'vendors/select2/js/select2.min.js' %}"></script>
      <script src="{% static 'vendors/select2/js/i18n/de.js' %}"></script>
      {% compress js %}
        <script src="{% static 'js/store.js' %}"></script>
        <script src="{% static 'js/event-topics.js' %}"></script>
        <script src="{% static 'django_select2/django_select2.js' %}"></script>
        <script src="{% static 'js/charts.js' %}"></script>
        <script src="{% static 'js/layers-box.js' %}"></script>
        <script src="{% static 'js/offcanvas.js' %}"></script>
        <script src="{% static 'js/sliders.js' %}"></script>
      {% endcompress %}

    {% endblock js_body %}
  </body>
</html>
