{% extends "base.html" %}
{% load static i18n compress %}

{% block js_head %}
  {% compress js %}
    <script src="{% static 'vendors/maplibre/js/maplibre-gl.js' %}"></script>

  {% endcompress %}
{% endblock %}

{% block css %}
  {% compress css %}
    <link href="{% static 'vendors/maplibre/css/maplibre-gl.css' %}" rel='stylesheet'/>
  {% endcompress %}

  {{ block.super }}

  {% compress css %}
  {% endcompress %}
{% endblock %}

{% block content %}

  {% include 'modals/imprint.html' %}
  {% include 'modals/privacy.html' %}
  <div class="main-container">

    <nav class="top-nav navbar navbar-expand-sm navbar-light bg-body"
         aria-label="Navbar mit Links zu den anderen Seiten">
      <div class="container-fluid">
        <a class="top-nav__brand navbar-brand" href="#">
          <img src="{% static 'images/logos/digiplan-anhalt-logo-horizontal.svg' %}"
               alt="Digiplan">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample03" aria-controls="navbarsExample03"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link active" id="mapView" aria-current="page"
                 href="#">Karte</a>
            </li>
            <li class="nav-item" data-bs-toggle="offcanvas"
                href="#offcanvasDocumentation" role="button"
                aria-controls="offcanvasDocumentation">
              <a class="nav-link" href="#">Dokumentation</a>
            </li>
            <li class="nav-item" data-bs-toggle="offcanvas" href="#offcanvasSources"
                role="button" aria-controls="offcanvasSources">
              <a class="nav-link" href="#">Quellen</a>
            </li>
            <li class="nav-item" data-bs-toggle="offcanvas" href="#offcanvasContact"
                role="button" aria-controls="offcanvasContact">
              <a class="nav-link" href="#">Kontakt</a>
            </li>
            <li class="top-nav__lang">
              <select aria-label="Sprache auswählen">
                <option value="de" selected>DE</option>
                <option value="en">EN</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="map-content">
      {% include 'components/panel.html' %}
      <pre id="info"></pre>
      {% include 'components/map.html' %}
    </section>
  </div>

  {% include 'offcanvas/documentation.html' %}
  {% include 'offcanvas/sources.html' %}
  {% include 'offcanvas/contact.html' %}

  {% include 'popups/default.html' %}
  {% for popup in popups %}
    {% if popup.template_url %}
      {% include popup.template_url %}
    {% endif %}
  {% endfor %}
{% endblock content %}

{% block js_body %}
  {{ block.super }}

  {{ layer_styles|json_script:"styles" }}
  {{ result_styles|json_script:"result_styles" }}

  {% compress js inline %}
    <script>
      function setDebugMode(bool) {
        store.cold.debugMode = bool;
      }

      function setDebugModeVerbose(bool) {
        store.cold.debugModeVerbose = !(!store.cold.debugMode || !bool);
      }
    </script>
    <script>
      const map = new maplibregl.Map({
        container: 'map',
        style: 'https://api.maptiler.com/maps/{{tiling_service_style_id}}/style.json?key={{tiling_service_token}}',
        center: [12.537917858911896, 51.80812518969171], // starting position [lng, lat]
        zoom: 9, // starting zoom
        maxBounds: [[11.280733017118229, 51.22918643452503], [13.616574868700604, 52.35515806663738]] // [[south-west], [north-east]] restrict area
      });
    </script>
    <script src="{% static 'js/popup.js' %}" type="text/javascript"></script>
    <script>
      if (store.cold.debugMode) {
        map.showTileBoundaries = true;
      }

      const nav = new maplibregl.NavigationControl();
      map.addControl(nav, "bottom-left");
      map.addControl(new maplibregl.ScaleControl({position: 'bottom-right'}));

      {% for map_image in map_images %}
        map.loadImage("{% static map_image.path %}", function (error, image) {
          if (error) throw error;
          map.addImage("{{map_image.name}}", image);
        });
      {% endfor %}

      map.on("load", function () {
        const layers = map.getStyle().layers;
        // Find the index of the first symbol layer in the map style
        let firstSymbolId;
        for (let i = 0; i < layers.length; i++) {
          if (layers[i].type === "symbol") {
            firstSymbolId = layers[i].id;
            break;
          }
        }
        map.addSource("satellite", {
          type: "raster",
          tiles: [
            "https://api.maptiler.com/tiles/satellite-v2/{z}/{x}/{y}.jpg?key={{tiling_service_token}}"
          ]
        });
        map.addLayer(
          {
            id: "satellite",
            type: "raster",
            source: "satellite"
          },
          firstSymbolId
        );
        map.setLayoutProperty("satellite", "visibility", "none");

        {% for source in all_sources %}
          map.addSource(
            "{{source.name}}",
            {
              "type": "{{source.type}}",
              "promoteId": "id",
              {% if source.tiles %}
                "tiles": [
                  {% for tile in source.tiles %}
                    "{{request.scheme}}://{{request.get_host}}/{{tile|safe}}",
                  {% endfor %}
                ],
              {% endif %}
              {% if source.url %}
                "url": "{{source.url|safe}}",
              {% endif %}
            }
          );
        {% endfor %}

        // Add source for clustered layers
        map.addSource(
          'clusters', {
            type: 'geojson',
            data: "{{request.scheme}}://{{request.get_host}}/clusters",
          }
        );

        {% for layer in raster_layers %}
          {
            const layer_setup = {
              "id": "{{layer.id}}",
              "source": "{{layer.source}}",
              "type": "{{layer.type}}"
            };
            map.addLayer(layer_setup);
            map.setLayoutProperty("{{ layer.id }}", "visibility", "none");
          }
        {% endfor %}

        {% for layer in all_layers %}
          {
            const layer_style = JSON.parse(document.getElementById("styles").textContent)["{{layer.style}}"];
            const layer_setup = {
              "id": "{{layer.id}}",
              "source": "{{layer.source}}",
              "source-layer": "{{layer.source_layer}}",
              "minzoom": {{layer.minzoom}},
              "maxzoom": {{layer.maxzoom}},
            };
            map.addLayer({...layer_setup, ...layer_style});
            {% if layer.type == "static" %}
              map.setLayoutProperty("{{ layer.id }}", "visibility", "none");
            {% endif %}
          }

          {% if layer.clustered %}
            // Clustered layer
            {% for level, zoom in zoom_levels.items %}
              map.addLayer({
                id: "{{layer.source_layer}}_{{level}}",
                type: "circle",
                source: "clusters",
                minzoom: {{zoom.min}},
                maxzoom: {{zoom.max}},
                filter: ["==", ["get", "zoom_level"], {{zoom.max}}],
                paint: {
                  // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
                  // with three steps to implement three types of circles:
                  //   * Blue, 20px circles when point count is less than 100
                  //   * Yellow, 30px circles when point count is between 100 and 750
                  //   * Pink, 40px circles when point count is greater than or equal to 750
                  "circle-color": [
                    "step",
                    ["get", "{{layer.source_layer}}"],
                    "#51bbd6",
                    100,
                    "#f1f075",
                    750,
                    "#f28cb1"
                  ],
                  "circle-radius": [
                    "step",
                    ["get", "{{layer.source_layer}}"],
                    20,
                    100,
                    30,
                    750,
                    40
                  ]
                }
              });
              map.addLayer(
                {
                  id: "{{layer.source_layer}}_counter_{{level}}",
                  type: "symbol",
                  source: "clusters",
                  minzoom: {{zoom.min}},
                  maxzoom: {{zoom.max}},
                  filter: ["==", ["get", "zoom_level"], {{zoom.max}}],
                  layout: {
                    "text-field": ["get", "{{layer.source_layer}}"],
                    "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
                    "text-size": 12,
                    "text-allow-overlap": true
                  }
                }
              );
              map.setLayoutProperty("{{layer.source_layer}}_{{level}}", "visibility", "none");
              map.setLayoutProperty("{{layer.source_layer}}_counter_{{level}}", "visibility", "none");
            {% endfor %}
          {% endif %}
        {% endfor %}

      });

      // Zoom to feature on click
      map.on("click", function (element) {
        flyToElement(element);
      });

      /* Popup start */
      {% for popup in popups %}
        {% if popup.template_url %}
          add_popup("{{popup.layer_id}}", {{popup.fields|safe}}, "{{popup.source}}");
        {% else %}
          add_popup("{{popup.layer_id}}", {{popup.fields|safe}});
        {% endif %}
      {% endfor %}
      /* Popup end */

      {% for layer in all_layers %}
        {% if layer.style == "region-fill" %}
          // Show pointer cursor on fills
          map.on("mouseenter", "{{layer.id}}", function () {
            map.getCanvas().style.cursor = "pointer";
          });
          map.on("mouseleave", "{{layer.id}}", function () {
            map.getCanvas().style.cursor = "";
          });
        {% endif %}
      {% endfor %}

      {% for layer in all_layers %}
        {% if layer.style == "region-fill" %}
          // When the user moves their mouse over the fill layer, we'll update the
          // feature state for the feature under the mouse.
          map.on("mousemove", "{{layer.id}}", function (e) {
            if (e.features.length > 0) {
              if (store.cold.hoveredStateId >= 0) {
                // Fill layer
                map.setFeatureState({
                  source: "{{layer.source}}",
                  sourceLayer: "{{layer.source_layer}}",
                  id: store.cold.hoveredStateId
                }, {
                  hover: false
                });
                // Label layer
                map.setFeatureState({
                  source: "{{layer.source}}",
                  sourceLayer: "{{layer.source_layer}}label",
                  id: store.cold.hoveredStateId
                }, {
                  hover: false
                });
              }
              store.cold.hoveredStateId = e.features[0].id;
              // Fill layer
              map.setFeatureState({
                source: "{{layer.source}}",
                sourceLayer: "{{layer.source_layer}}",
                id: store.cold.hoveredStateId
              }, {
                hover: true
              });
              // Label layer
              map.setFeatureState({
                source: "{{layer.source}}",
                sourceLayer: "{{layer.source_layer}}label",
                id: store.cold.hoveredStateId
              }, {
                hover: true
              });
            }
          });

          // When the mouse leaves the fill layer, update the feature state of the
          // previously hovered feature.
          map.on("mouseleave", "{{layer.id}}", function () {
            if (store.cold.hoveredStateId >= 0) {
              map.setFeatureState({
                source: "{{layer.source}}",
                sourceLayer: "{{layer.source_layer}}",
                id: store.cold.hoveredStateId
              }, {
                hover: false
              });
            }
            store.cold.hoveredStateId = null;
          });
        {% endif %}
      {% endfor %}

      {% if debug %}
        {% for layer in all_layers %}
          map.on("click", "{{layer.id}}", function (e) {
            console.log("{{layer.id}}:", e.features[0].properties.name, e.features[0]);
          });
        {% endfor %}
        setDebugMode(true);
      {% endif %}
    </script>
  {% endcompress %}

  {% compress js %}
    <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/basemaps.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/helper.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/layer.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/state.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/filter.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/results.js' %}"></script>
  {% endcompress %}
{% endblock js_body %}
