{% extends "base.html" %}
{% load static i18n compress %}

{% block js_head %}
  {% compress js %}
    <script src="{% static 'vendors/maplibre/js/maplibre-gl.js' %}"></script>

  {% endcompress %}
{% endblock %}

{% block css %}
  {% compress css %}
    <link href="{% static 'vendors/maplibre/css/maplibre-gl.css' %}" rel='stylesheet'/>
  {% endcompress %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% include 'modals/imprint.html' %}
  {% include 'modals/privacy.html' %}
  <div class="main-container">

    <nav class="top-nav navbar navbar-expand-sm navbar-light bg-body"
         aria-label="Navbar mit Links zu den anderen Seiten">
      <div class="container-fluid">
        <a class="top-nav__brand navbar-brand" href="#">
          <img src="{% static 'images/logos/digiplan-anhalt-logo-horizontal.svg' %}"
               alt="Digiplan">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarsExample03" aria-controls="navbarsExample03"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link active" id="mapView" aria-current="page"
                 href="#">Karte</a>
            </li>
            <li class="nav-item" data-bs-toggle="offcanvas"
                href="#offcanvasDocumentation" role="button"
                aria-controls="offcanvasDocumentation">
              <a class="nav-link" href="#">Dokumentation</a>
            </li>
            <li class="nav-item" data-bs-toggle="offcanvas" href="#offcanvasSources"
                role="button" aria-controls="offcanvasSources">
              <a class="nav-link" href="#">Quellen</a>
            </li>
            <li class="nav-item" data-bs-toggle="offcanvas" href="#offcanvasContact"
                role="button" aria-controls="offcanvasContact">
              <a class="nav-link" href="#">Kontakt</a>
            </li>
            <li class="top-nav__lang">
              <select aria-label="Sprache auswählen">
                <option value="de" selected>DE</option>
                <option value="en">EN</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="map-content">
      {% include 'components/panel.html' %}
      <pre id="info"></pre>
      {% include 'components/map.html' %}
    </section>
  </div>

  {% include 'offcanvas/documentation.html' %}
  {% include 'offcanvas/sources.html' %}
  {% include 'offcanvas/contact.html' %}

{% endblock content %}

{% block js_body %}
  {{ block.super }}

  {{ mapengine_setup|json_script:"mapengine_setup" }}
  {{ mapengine_sources|json_script:"mapengine_sources" }}
  {{ mapengine_layers|json_script:"mapengine_layers" }}
  {{ mapengine_images|json_script:"mapengine_images" }}
  {{ mapengine_popups|json_script:"mapengine_popups" }}
  {{ mapengine_layers_at_startup|json_script:"mapengine_layers_at_startup" }}
  {{ mapengine_store_cold_init|json_script:"mapengine_store_cold_init" }}

  {{ store_cold_init|json_script:"store_cold_init" }}
  {{ settings_parameters|json_script:"settings_parameters" }}
  {{ settings_dependency_map|json_script:"settings_dependency_map" }}
  {{ dependency_parameters|json_script:"dependency_parameters" }}

  {% compress js %}
    <script src="{% static 'django_mapengine/js/store.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/init.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/map.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/basemaps.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/regions.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/helper.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/legend.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/popup.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/layer.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_mapengine/js/results.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/state.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/sliders.js' %}" type="text/javascript"></script>
  {% endcompress %}

{% endblock js_body %}
