{% load static i18n %}

<section class="map-wrap">
  <div class="steps">
    <button type="button" id="menu_previous_btn" class="button button--pagination" disabled>
      <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.933" xmlns="http://www.w3.org/2000/svg">
        <path d="m10.794 16.748 1.4961-1.4961-6.7832-6.7832 6.7832-6.7832-1.4961-1.4961-8.2793 8.2793z"/>
      </svg>
    </button>
    <ul class="steps__list nav nav-tabs" role="tablist">
      <li id="step_1_today" class="steps__item active" role="presentation">
        <span class="steps__text">Region heute</span>
      </li>
      <li class="steps__item steps__item--separator" aria-hidden="true">
      </li>
      <li id="step_2_settings" class="steps__item" role="presentation">
        <span class="steps__text">Einstellungen</span>
      </li>
      <li class="steps__item steps__item--separator" aria-hidden="true">
      </li>
      <li id="step_3_results" class="steps__item" role="presentation">
        <span class="steps__text">Ergebnisse</span>
      </li>
    </ul>
    <button type="button" id="menu_next_btn" class="button button--pagination">
      <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.933" xmlns="http://www.w3.org/2000/svg">
        <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z"/>
      </svg>
    </button>
  </div>

  <!-- Toggle map/results views -->
  {% include 'components/toggle_view.html' %}

  <!-- Show only map view -->
  <!-- {% include 'components/map_view.html' %} -->

  <div id='legend' hidden></div>
  <!--
  <button id="satellite-layer" onclick="toggleSatellite();">
    <img src="../../static/images/icons/layers.svg" alt="Layers">
  </button>
  -->
</section>
