{% load static i18n %}
<button id="basemaps-control">
  <div>
    <div class="layers-text">{% trans "maps"|title %}</div>
  </div>
</button>
<div id="basemaps" class="basemaps" style="display:none">
  <div class="basemaps__btn">
    <button id="basemaps__default" class="btn" onclick="toggleBasemap(null);">
      <img src="{% static 'images/layer_ctrl_default.svg' %}" alt="Default basemap view">
      <span>{% trans "default"|title %}</span>
    </button>
  </div>
  <div class="basemaps__btn">
    <button id="basemaps__satellite" class="btn" onclick="toggleBasemap('satellite');">
      <img src="{% static 'images/layer_ctrl_satellite.svg' %}" alt="Satellite basemap view">
      <span>{% trans "satellite"|title %}</span>
    </button>
  </div>
</div>
