{% load static %}

{% include "components/map_basemaps_control.html" %}

<div class="map__layers-btn" id="js-map-layers-btn">
  <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.933" xmlns="http://www.w3.org/2000/svg">
    <path d="m8.4667 0.053743-0.23616 0.11731-8.1855 4.0933 8.4217 4.2111 8.4222-4.2111-8.4222-4.2106zm0 1.1813 6.057 3.0293-6.057 3.0277-6.0565-3.0277 6.0565-3.0293zm-8.4217 7.2404 8.4222 4.2111 8.4217-4.2111h-2.3652l-6.0565 3.0277-6.057-3.0277h-2.3652zm-5.1676e-4 4.2468 8.4222 4.2111 8.4217-4.2111h-2.3652l-6.0565 3.0277-6.057-3.0277h-2.3652z"/>
   </svg>
</div>
<div class="map__layers-box" id="js-map-layers-box">
  <div class="map__layers-close">
    <button type="button" class="btn-close" id="js-map-layers-box-close"
            aria-label="Close"></button>
  </div>
  <p class="map__layers-heading">Flächennutzung</p>
  <div class="map-layer">
    <div class="map-layer__legend">
      <div class="map-layer__legend-color"></div>
      <div class="map-layer__legend-text">
        <label class="form-check-label" for="switchPlanningArea">Grenze des
          Planungsraumes</label>
      </div>
    </div>
    <div class="map-layer__control">
      <div class="map-layer__control-i">
        <img src="{% static 'images/icons/i_info.svg' %}" alt="Info Icon" class="i-icon" data-bs-toggle="tooltip" title="Info über Grenze des Planungsraumes" >
      </div>
      <div class="map-layer__control-toggle c-switch">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="switchPlanningArea">
        </div>
      </div>
    </div>
  </div>
  <div class="map-layer">
    <div class="map-layer__legend">
      <div class="map-layer__legend-color"></div>
      <div class="map-layer__legend-text">Gemeinden</div>
    </div>
    <div class="map-layer__control">
      <div class="map-layer__control-i">
        <img src="{% static 'images/icons/i_info.svg' %}" alt="Info Icon" class="i-icon" data-bs-toggle="tooltip" title="Info über Gemeinden" >
      </div>
      <div class="map-layer__control-toggle c-switch">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                 checked>
          <label class="form-check-label" for="flexSwitchCheckChecked"></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="legend" class="legend"></div>

<section id="map">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
