{% include "components/map_basemaps_control.html" %}

<div class="map__layers-btn" id="js-map-layers-btn">
  <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.933" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(-143.81 -109.83)" fill-rule="evenodd">
     <path d="m152.28 109.88-0.23632 0.11719-8.1856 4.0938 8.4219 4.2109 8.4219-4.2109zm0 1.1816 6.0566 3.0293-6.0566 3.0274-6.0566-3.0274z"/>
     <path d="m143.85 118.31 8.4222 4.2111 8.4217-4.2111h-2.3652l-6.0565 3.0277-6.057-3.0277z"/>
     <path d="m143.85 122.55 8.4222 4.2111 8.4217-4.2111h-2.3652l-6.0565 3.0277-6.057-3.0277z" />
    </g>
   </svg>
</div>
<div class="map__layers-box" id="js-map-layers-box">
  <div class="map__layers-close">
    <button type="button" class="btn-close" id="js-map-layers-box-close" aria-label="Close"></button>
  </div>
  <p class="map__layers-heading">Flächennutzung</p>
  <div class="map-layer">
    <div class="map-layer__legend">
      <div class="map-layer__legend-color"></div>
      <div class="map-layer__legend-text">
        <label class="form-check-label" for="switchPlanningArea">Grenze des Planungsraumes</label>
      </div>
    </div>
    <div class="map-layer__control">
      <div class="map-layer__control-i">
        <img src="../../static/images/icons/info.svg" alt="Info Icon" class="i-icon" data-bs-toggle="tooltip" title="Info über Grenze des Planungsraumes" >
      </div>
      <div class="map-layer__control-toggle c-switch">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="switchPlanningArea">
        </div>
      </div>
    </div>
  </div>
  <div class="map-layer">
    <div class="map-layer__legend">
      <div class="map-layer__legend-color"></div>
      <div class="map-layer__legend-text">Gemeinden</div>
    </div>
    <div class="map-layer__control">
      <div class="map-layer__control-i">
        <img src="../../static/images/icons/info.svg" alt="Info Icon" class="i-icon" data-bs-toggle="tooltip" title="Info über Gemeinden" >
      </div>
      <div class="map-layer__control-toggle c-switch">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked"></label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="legend">
  <div class="legend__heading">
    <span class="legend__title">Legende -&nbsp;</span>
    <span class="legend__detail">EinwohnerInnen</span>
  </div>
  <div class="legend__wrap">
    <div class="legend__column">
      <div class="legend__item" id="inhabitant0">0 - 10.000</div>
      <div class="legend__item" id="inhabitant1">10.000 - 20.000</div>
      <div class="legend__item" id="inhabitant2">20.000 - 30.000</div>
    </div>
    <div class="legend__column">
      <div class="legend__item" id="inhabitant3">30.000 - 40.000</div>
      <div class="legend__item" id="inhabitant4">40.000 - 50.000</div>
      <div class="legend__item" id="inhabitant5">50.000 - 60.000</div>
    </div>
  </div>
</div>

<section id="map">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
