{%  load static %}

<div class="modal fade modal-xl onboarding-modal" id="onboardingModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Willkommen</p>
        <button id="close-onboarding" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false" data-bs-wrap="false">
          <div class="carousel-inner">
            <div class="carousel-item carousel-item--first active">
              <div class="row">
                <div class="col">
                  <div class="carousel-item__content">
                    <div class="carousel__text">
                      Test
                    </div>
                    <div class="carousel__logos">
                      <div class="carousel__logo carousel__logo--rli">
                        <img src="{% static 'images/logos/RLI_logo_weiss.png' %}" alt="Logo RLI">
                      </div>
                      <div class="carousel__logo carousel__logo--eaa">
                        <img src="{% static 'images/logos/EAA_logo.png' %}" alt="Logo EAA">
                      </div>
                      <div class="carousel__logo carousel__logo--gestalten">
                        <img src="{% static 'images/logos/VDI-VDE-BULE-BMI_Logo-4C.png' %}" alt="Logo Region Gestalten">
                      </div>
                      <div class="carousel__logo carousel__logo--bbsr">
                        <img src="{% static 'images/logos/BBSR_geschl_RGB.jpg' %}" alt="Logo BBSR">
                      </div>
                      <div class="carousel__logo carousel__logo--bmwsb">
                        <img src="{% static 'images/logos/CDR_BMWSB_Fz_2021_WebSVG_de.svg' %}" alt="Logo BMWSB">
                      </div>
                      <div class="carousel__logo carousel__logo--bmi">
                        <img src="{% static 'images/logos/CDR_BMI_Fz_2021_WebSVG_de.svg' %}" alt="Logo BMI">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'images/map-wind.png' %}" alt="...">
                </div>
                <div class="carousel-item__content">
                  <h2>Windenergie</h2>
                  <p>Hier folgt ein Text zur aktuellen Lage und den Herausforderungen...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'images/map-outdoor-pv.png' %}" alt="...">
                </div>
                <div class="carousel-item__content">
                  <h2>PV-Freiflächenanlagen</h2>
                  <p>Hier folgt ein Text zur aktuellen Lage und den Herausforderungen...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'images/map-roof-pv.png' %}" alt="...">
                </div>
                <div class="carousel-item__content">
                  <h2>PV-Aufdachanlagen</h2>
                  <p>Hier folgt ein Text zur aktuellen Lage und den Herausforderungen...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'images/settings.png' %}" alt="...">
                </div>
                <div class="carousel-item__content">
                  <h2>Energiesystem</h2>
                  <p>Hier folgt ein Text zum Energiesystem...</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'images/sidebar.png' %}" alt="...">
                </div>
                <div class="carousel-item__content">
                  <h2>Los geht's</h2>
                  <p>Probieren Sie es aus!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Carousel -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary carousel-control-prev transparent" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">Previous</button>
        <button class="btn btn-primary carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">Next</button>
      </div>
    </div>
  </div>
</div>
