{% load static i18n %}

<div class="panel__settings panel__settings--padding">
  <div class="panel-item">
    <p>Willkommen zur Herausforderung einer nachhaltigen Energiezukunft in Oderland-Spree. Ziel ist, den Ist-Zustand zu erfassen, Ziele zu definieren und Wege dorthin zu planen. Ihre Entscheidungen sind dabei entscheidend. Wir erkunden gemeinsam realistische Optionen, um erneuerbare Energien zu fördern und nationale Ziele zu erreichen, und treffen informierte Entscheidungen für Gemeinschaft und Umwelt.</p>
  </div>
</div>
