{% load static i18n %}

<div class="panel__chart">
  <img src="../../static/images/Ziele-charts.svg" alt="Ziele zu erreichen: Zunahme Anteil Erneuerbare Energien auf 95% und Reduzierung der CO2-Emissionen auf 50 Mt" data-bs-toggle="tooltip" title="Einwohner im Jahr 2021" >
</div>
<div class="panel__settings">
  <div class="panel-item">
    <h2 class="panel-item__heading">
      <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.933" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(-139.06 -104.07)">
          <path d="m145.29 104.17c-3.4031 0-6.1738 2.7707-6.1738 6.1738 0 3.403 2.7707 6.1738 6.1738 6.1738 1.5624 0 2.9914-0.58394 4.0799-1.5451l5.3873 5.3873 0.74775-0.74827-5.4038-5.4059c0.85077-1.0584 1.3612-2.4017 1.3612-3.8618 0-3.4031-2.7692-6.1738-6.1722-6.1738zm0 1.0588c2.8311 0 5.1154 2.2838 5.1154 5.1149s-2.2844 5.1154-5.1154 5.1154c-2.8311 0-5.1149-2.2844-5.1149-5.1154 0-2.8311 2.2838-5.1149 5.1149-5.1149z"/>
         </g>
       </svg>
      Lage heute
    </h2>
    <div class="panel-item__form">
      <select class="form-select" aria-label="Default select example">
        <optgroup label="Planungsregion">
          <option value="EinwohnerInnen" selected>EinwohnerInnen</option>
          <option value="Bevölkerungsdichte">Bevölkerungsdichte</option>
        </optgroup>
        <optgroup label="Erneuerbare Energien (EE)">
          <option value="Anteil Energie aus EE an Strombedarf">Anteil Energie aus EE an Strombedarf</option>
          <option value="Gewonnene Energie aus EE">Gewonnene Energie aus EE</option>
          <option value="Gewonnene Energie aus EE je EinwohnerIn">Gewonnene Energie aus EE je EinwohnerIn</option>
          <option value="Gewonnene Energie aus EE je km²">Gewonnene Energie aus EE je km²</option>
          <option value="Installierte Leistung EE">Installierte Leistung EE</option>
          <option value="Installierte Leistung EE je km²">Installierte Leistung EE je km²</option>
          <option value="Anzahl Windenergieanlagen je km²">Anzahl Windenergieanlagen je km²</option>
        </optgroup>
        <optgroup label="Energiebedarf">
          <option value="Strombedarf">Strombedarf</option>
          <option value="Strombedarf je EinwohnerIn">Strombedarf je EinwohnerIn</option>
          <option value="Wärmebedarf">Wärmebedarf</option>
          <option value="Wärmebedarf je EinwohnerIn">Wärmebedarf je EinwohnerIn</option>
        </optgroup>
      </select>
      <img src="../../static/images/icons/info.svg" alt="Info Icon" class="i-icon" data-bs-toggle="tooltip" title="Einwohner im Jahr 2021" >
    </div>
  </div>
  <div class="panel-item">
    <div id="chart3" class="panel-item__chart"></div>
    <div id="chart4" class="panel-item__chart"></div>
  </div>
</div>
