<div class="view-toggle">
  <ul class="view-toggle__nav-tabs nav nav-tabs" id="myTab" role="tablist">
    <li class="view-toggle__nav-item" role="presentation">
      <button class="view-toggle__nav-link active" id="map-view-tab" data-bs-toggle="tab" data-bs-target="#map-view" type="button" role="tab" aria-controls="map-view" aria-selected="true">
        <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.933" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(-139.06 -104.07)">
            <path d="m155.68 104.07-5.6095 3.4122-5.0782-3.0897-5.6095 3.4101v13.205l0.8046-0.48989 4.8049-2.9223 5.0782 3.0902 5.6095-3.4122v-13.203zm-1.0588 1.881v10.726l-4.0215 2.4474v-10.726l4.0215-2.4474zm-10.158 0.00155v10.726l-4.0215 2.4458v-10.726l4.0215-2.4458zm1.0583 0 4.0199 2.4458v10.726l-4.0199-2.4458v-10.726z"/>
           </g>
         </svg>
        Karte
      </button>
    </li>
    <li class="view-toggle__nav-item" role="presentation">
      <button class="view-toggle__nav-link" id="chart-view-tab" data-bs-toggle="tab" data-bs-target="#chart-view" type="button" role="tab" aria-controls="chart-view" aria-selected="false">
        <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.933" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(-139.06 -104.07)">
            <path d="m152.18 104.07v13.959h1.0588v-13.959h-1.0588zm-5.2927 3.5584v10.4h1.0583v-10.4h-1.0583zm-5.2912 2.4474v7.953h1.0583v-7.953h-1.0583zm-2.5373 9.6232v1.0583h16.934v-1.0583h-16.934z"/>
           </g>
        </svg>
        Charts
      </button>
    </li>
  </ul>
</div>
<div class="tab-content" id="mainTabContent">
  <div class="map tab-pane fade show active" id="map-view" role="tabpanel" aria-labelledby="map-view-tab">
    {% include 'components/map_view.html' %}
  </div>
  <div class="results tab-pane fade" id="chart-view" role="tabpanel" aria-labelledby="chart-view-tab">
    {% include 'components/results_view.html' %}
  </div>
</div>
