// COLORS
$enershelf-black: #141412;
$enershelf-red: #ce1527;

$gray-1: #F5F5F5;

$white: #fff;

// GENERAL
$border-radius: 100px;

// TYPOGRAPHY
$main-font-family: 'Source Sans Pro', sans-serif;
$font-size-xlarge: 1.953rem; // 31.25px
$font-size-large: 1.563rem; // 25px
$font-size-medium: 1.25rem; // 20px
$font-size-normal: 1rem; // 16px
$font-size-small: .875rem; // 14px

$line-height-normal: 1.75rem;
$letter-spacing-small: 0.01rem;
$letter-spacing-normal: 0.03rem;

// TOP-NAV
$top-nav-height: 3.75rem;
$top-nav-logo-height: 2.5rem;

// top-map
$top-map-height: 2.75rem;

// LEFT PANEL
$panel-width: 25rem;

$box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.05);

// Media-breaks
$small-screen: 640px;
$medium-screen: 992px;
$large-screen: 1250px;
$xlarge-screen: 1500px;

// TOP-NAV
$top-nav-height: 3.125rem;
$top-nav-logo-height: 2.5rem;

// LEFT PANEL
$panel-width: 26rem;
$panel-tabs-height: $top-map-height;

// Padding
$padding-normal: 1rem;
$padding-small: 0.5rem;

// Nav

// Footer

// Logo

// Buttons
$button-border-radius: 8px;

// Borders
$border-gray: 1px solid $gray-1;

// Anchors
$anchor-hover-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; // from Bootstrap
$anchor-pseudo-classes: '', ':link', ':hover', ':active', ':visited', ':focus';
$anchor-pseudo-classes-active-state: ":hover, :focus, :active";
$anchor-pseudo-classes-inactive-state: ":link, :visited";


// Layout
$section-max-width: 82rem;

