.panel {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-auto;
  @extend .shadow;
  overflow-y: scroll;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  @include media-breakpoint-up(lg)  {
    height: 100vh;
    width: $panel-width;
  }

  &__content {
    @extend .flex-grow-1;
    @extend .flex-shrink-0;
  }

  &__logos {
    @extend .d-flex;
    @extend .flex-row;
    @extend .text-center;
    @extend .pt-2;
    @extend .pe-0;
    @extend .pb-0;
    @extend .ps-0;
    @extend .border-bottom;

    .logo--bmbf {
      @extend .text-end;

      img {
        width: 8rem;
      }
    }
  }

  &__logo {
    @extend .flex-fill;

    &--eaa {
      @extend .text-start;
      @extend .ps-2;

      img {
        width: 7rem;
        transform: translateY(4px);
      }
    }

    &--rli {
      @extend .text-center;
      @extend .ps-2;

      img {
        width: 6.5rem;
        transform: translateY(4px);
      }
    }

    &--bmbf {
      @extend .text-end;

      img {
        width: 9rem;
        transform: translateY(-14px);
      }
    }
  }

  .footer {
    @extend .flex-shrink-0;
    @extend .border-top;
    @extend .pt-2;
    @extend .pe-0;
    @extend .pb-2;
    @extend .ps-0;
    
    ul {
      @include ul-horizontal;
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-center;
    }

    li {
      @extend .d-inline-block;
    }

    li:not(:last-of-type) {
      @extend .pe-2;
    }
  }
}