<div id="js-popup" class="popup">

  <div class="popup__header">
    <h1 id="js-popup__title" class="popup__title">{{ title }}</h1>
    <h2 id="js-popup__municipality" class="popup__municipality">{{ municipality }}</h2>
  </div>

  <div id="js-popup__key-values" class="popup__key-values">
    {% block data %}
      <span class="key-values__municipality">
        {% if data.region_value %}
          <span class="key-values__region_value">ABW Region {{ data.region_value|floatformat:0 }} {{ data.unit }}</span>
        {% endif %}
        {% if data.municipality_value %}
          <span class="key-values__municipality_value">{{ municipality }}{{ data.municipality_value|floatformat:0 }} {{ data.unit }}</span>
        {% endif %}
      </span>
    {% endblock data%}
  </div>

  {% block chart %}{% endblock chart %}

  <div id="js-popup__description" class="popup__description">{{ description }}</div>

  {% if sources %}
    <div id="js-popup__sources" class="popup__sources">
      Quellen:
      {% for source in sources %}
        {% if forloop.first %}
          <a href="{{ source.url }}">{{ source.name }}</a>
        {% else %}
          , <a href="{{ source.url }}">{{ source.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
