.panel {
  @extend .d-flex;
  @extend .flex-column;
  @extend .h-auto;
  @extend .shadow;
  @extend .w-100;

  @include media-breakpoint-down(md) {
    order: 2;
  }

  @include media-breakpoint-up(md) {
    width: $panel-width-sm !important;
    overflow-y: scroll;
  }

  @include media-breakpoint-up(lg) {
    height: 100vh;
    width: $panel-width !important;
  }

  &__content {
    @extend .flex-grow-1;
    @extend .flex-shrink-0;
  }

  &__chart {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-around;
    @extend .bg-light;
    @extend .pt-2;
  }

  &__settings {
    @extend .bg-white;
    @extend .pb-3;
  }

  &-item {
    @extend .py-4;

    &__heading {
      @extend .px-3;
      @extend .fs-7;
      @extend .fw-light;
      @extend .text-uppercase;

      svg {
        @include translateY(-2px);
        margin-right: $icon-margin-right;
      }
    }

    &__tabs {
      .nav-tabs,
      .c-slider {
        @extend .pt-1;
        @extend .px-3;
      }

      .c-slider {
        @extend .position-relative;
        height: $panel-slider-height;
        @extend .border-start;
        @extend .border-7;
        border-color: rgba(0, 0, 0, 0) !important;
      }

      .c-slider.active {
        @extend .px-3;
        @extend .bg-light;
      }

      .c-slider.conventional.active {
        border-color: #A6BDDB !important;
      }

      .c-slider.pv_ground.active {
        border-color: #FA9FB5 !important;
      }

      .c-slider.pv_roof.active {
        border-color: #FEC44F !important;
      }

      .c-slider.bio.active {
        border-color: #99D8C9 !important;
      }

      .c-slider + .sidepanel {
        display: none;
      }

      .c-slider.active-sidepanel + .sidepanel {
        display: block;
        z-index: 10;
      }

      .c-slider__label {
        @extend .d-flex;
        @extend .flex-row;
        @extend .justify-content-between;
        @extend .pb-1;

        &--more button {
          @extend .text-info;
          @extend .fs-7;
          @extend .fw-bold;
        }
      }
    }

    &__form {
      @extend .d-flex;
      @extend .flex-row;
      @extend .align-items-center;

      select,
      img {
        @extend .d-block;
      }

      img {
        @extend .ms-1;
      }
    }

    &__chart {
      @extend .pb-2;
    }

    button svg {
      @include translateY(-2px);
      margin-right: $icon-margin-right;
    }
  }

  .js-sidepanel {
    top: 0;
  }

  .sidepanel {
    @extend .position-absolute;
    @extend .bg-light;
    @extend .p-3;
    transform: translateY(calc(-#{$panel-slider-height} - var(--scrollPosition)));
    width: 24rem;
    left: $panel-width-sm;

    @include media-breakpoint-up(lg) {
      left: $panel-width;
    }

    &__heading {
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-between;
      @extend .fs-7;
      @extend .fw-bold;
    }

    &__close {
      @extend .btn-close;
    }

    .c-slider {
      @extend .p-0;
      @extend .pb-3;
      @extend .border-0;

      &__label {
        @extend .fs-7;
      }
    }
  }
}

.footer {
  @extend .flex-shrink-0;
  @extend .border-top;
  @extend .bg-white;
  @extend .position-sticky;
  @extend .bottom-0;
  @extend .w-auto;
  z-index: 9;

  &__btns {
    @extend .d-flex;
    @extend .flex-row;
    @extend .px-4;
    @extend .py-2;
    @extend .border-bottom;

    button {
      @extend .w-50;
    }
  }

  &__logos {
    @extend .d-flex;
    @extend .flex-row;
    @extend .text-center;
    @extend .pt-2;

    .logo--bmbf {
      @extend .text-end;

      img {
        width: 8rem;
      }
    }
  }

  &__logo {
    @extend .flex-fill;

    &--rli {
      @extend .text-center;
      @extend .ps-2;

      img {
        width: 4.5rem;
      }
    }

    &--eaa {
      @extend .text-start;
      @extend .ps-4;

      img {
        @include translateX(1rem);
        width: 5rem;
      }
    }

    &--rg {
      @extend .text-end;

      img {
        @include translateY(-0.5rem);
        width: 9rem;
      }
    }
  }

  &__links {
    height: 1.5rem;

    ul {
      @include ul-horizontal;
      @extend .d-flex;
      @extend .flex-row;
      @extend .justify-content-center;
    }

    li {
      @extend .d-inline-block;
      @extend .fs-7;

      button {
        @extend .bg-white;
        @extend .border-0;
        @extend .link-primary;
      }
    }

    li:not(:last-of-type) {
      @extend .pe-2;
    }
  }
}
