.results {
  @extend .h-100;
  @extend .w-100;
  @extend .bg-light;
  @extend .p-5;
  padding-top: 6rem !important;

  &__row {
    @extend .row;
  }

  &__item {
    @extend .col-xl-6;
  }

  &__chart {
    height: 400px;
    width: 100%;
  }
}
